<%= render ModalComponent.new do %>
	<div id="team-attendance">
		<%= render @mtitle %>
		<% if @table # there's data to show %>
			<%= line_chart @att_data, legend: false %>
			<%= render @table %>
		<% else %>
			<div class="font-semibold items-center text-center text-gray-500 text-sm mt-6"><%= t("status.empty") %></div>
		<% end %>
		<%= render @submit %>
	</div>
<% end %>
