<%= render ModalComponent.new do %>
  <div id="team-roster">
    <%= render FieldsComponent.new(fields: @title) %>
    <%= line_chart @att_data, legend: false %>
    <%= render GridComponent.new(grid: @grid) %>
    <%= render SubmitComponent.new(submit:(current_user.admin? or @team.has_coach(current_user.person.coach_id)) ? edit_roster_team_path : nil) %>
  </div>
<% end %>