<%= render "shared/modal" do %>
	<%= form_with model: @team, data: { turbo_frame: "_top" } do |form| %>
		<%= render "team_header" %>
		<div id="edit-roster-form-data">
			<table>
				<tr>
					<td align="right"><%= image_tag("player.svg", size: "30x30") %></td>
					<th colspan="3" align="left"><%= "Editar Plantilla" %></th>
				</tr><tr class="bg-indigo-900 text-gray-300">
					<th class="border px py" align="center">#</th>
					<th class="border px py" align="left">Nombre</th>
					<th class="border px py" align="center">Edad</th>
				</tr>
				<div id="player-selection">
					<%= form.collection_check_boxes :player_ids, @eligible_players, :id, :to_s do |player| %>
						<tr>
							<div class="collection-check-box">
								<td align="center" class="rounded border"><%= player.object.number %></td>
								<td class="rounded border"><%= player.object.to_s %></td>
								<td align="center" class="rounded border"><%= player.object.person.age %></td>
								<td class="rounded border"><%= player.check_box %></td>
							</div>
						</tr>
					<% end %>
				</div>
			</table>
			<%= render "shared/save_cancel", save: true %>
		</div>
	<% end %>
<% end %>
