<%= render "shared/modal" do %>
	<%= render FieldsComponent.new(fields: @header) %>
	<%= form_with model: @team, data: { turbo_frame: "_top" } do |form| %>
		<div id="edit-roster-form-data">
			<table>
				<tr class="bg-indigo-900 text-gray-300">
					<th class="border px py" align="center"><%= t(:a_num) %></th>
					<th class="border px py" align="left"><%= t(:h_name) %></th>
					<th class="border px py" align="center"><%= t(:h_age) %></th>
				</tr>
				<div id="player-selection">
					<%= form.collection_check_boxes :player_ids, @eligible_players, :id, :to_s do |player| %>
						<tr>
							<div class="collection-check-box">
								<td align="center" class="rounded border"><%= player.object.number %></td>
								<td class="rounded border"><%= player.object.to_s %></td>
								<td align="center" class="rounded border"><%= player.object.person.age %></td>
								<td class="rounded border"><%= player.check_box %></td>
							</div>
						</tr>
					<% end %>
				</div>
			</table>
			<%= render "shared/modal_bottom", save: true %>
		</div>
	<% end %>
<% end %>
