<%= render "shared/modal" do %>
	<%= form_with model: @team, data: { "turbo-frame" => "_top" } do |form| %>
		<div id="edit-coaches-form">
			<table>
				<tr>
					<div id="edit-coaches-form-header">
						<tr>
							<th rowspan="3" class="items-center justify-center">
								<%= image_tag("team.svg", size: "50x50") %>
							</th>
						</tr><tr>
							<th colspan="2" align="left" class="align-top rounded-md text-yellow-600">
								<%= @team.to_s %>
							</th>
						</tr><tr>
								<th colspan="2" align="left"><%= @team.season.name %></th>
						</tr><tr>
							<td></td>
						</tr><tr>
							<td></td>
							<th colspan="2" align="left"><%= "Entrenadores" %></th>
						</tr>
					</div>
					<tr>
					<div id="edit-coaches-form-data">
							<td></td>
							<td>
								<div id="coach-selection">
									<%= form.collection_check_boxes :coach_ids, @eligible_coaches, :id, :to_s do |coach| %>
									<tr>
										<td></td>
										<div class="collection-check-box">
											<td class="rounded border"><%= coach.object.to_s %></td>
											<td class="rounded border"><%= coach.check_box %></td>
										</div>
									</tr>
									<% end %>
								</div>
							</td>
					</div>
				</tr>
			</table>
			<%= render "shared/save" %>
		</div>
	<% end %>
<% end %>
