<div id="team-edit-roster">
	<%= form_with model: @team, data: {turbo_frame: "_top"} do |form| %>
		<div id="edit-roster-form-data">
			<table>
				<tr class="bg-indigo-900 text-gray-300">
					<th class="border px py" align="center"><%= t("player.number") %></th>
					<th class="border px py" align="left"><%= t("person.name") %></th>
					<th class="border px py" align="center"><%= t("person.age") %></th>
				</tr>
				<div id="player-selection">
					<%= form.collection_check_boxes :player_ids, @eligible_players, :id, :to_s do |player| %>
						<tr>
							<div class="collection-check-box">
								<td align="center" class="rounded border"><%= player.object.number %></td>
								<td class="rounded border"><%= player.object.to_s %></td>
								<td align="center" class="rounded border"><%= player.object.person.age %></td>
								<td class="rounded border"><%= player.check_box({class: "rounded bg-gray-200 text-blue-700"}) %></td>
							</div>
						</tr>
					<% end %>
				</div>
			</table>
			<%= form.hidden_field :rdx, value: @rdx if @rdx %>
			<%= render @submit %>
		</div>
	<% end %>
<div>
