<div id="edit-plan">
	<%= render FieldsComponent.new(fields: @title) %>
	<%= form_with model: @team, data: {turbo_frame: "_top"} do |form| %>
		<div id="accordion-collapse" data-accordion="open">
			<% @targets.each do |tgt| %>
				<h2 id="<%="#{tgt[:month]}-targets-head"%>">
					<button type="button" class="flex justify-between items-center p-1 w-full text-left text-gray-700 bg-gray-100 rounded-md hover:bg-gray-500 hover:text-indigo-100 focus:bg-indigo-900 focus:text-gray-200" data-accordion-target="<%="##{tgt[:month]}-targets-body"%>" aria-expanded="false" aria-controls="<%="#{tgt[:month]}-targets-body"%>">
						<span><%=tgt[:month]%></span>
						<svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
					</button>
				</h2>
				<div id="<%="#{tgt[:month]}-targets-body"%>" class="hidden" aria-labelledby="<%="#{tgt[:month]}-targets-head"%>">
					<div class="py px-2 rounded-lg border-2 border-indigo-900">
						<table>
							<tr class="text-indigo-900 font semi-bold">
								<th></th>
								<th class="border px py" align="center"><%= t("target.focus.def") %></th>
								<th class="border px py" align="center"><%= t("target.focus.ofe") %></th>
							</tr>
							<tr><!-- #edit individual targets -->
								<td class="bg-indigo-900 text-gray-300 border px py align-center"><%= t("target.aspect.ind_a") %></td>
								<td class="border px py align-top">
									<div id="defense-individual">
										<%= render "targets_form", form: form, month: tgt[:i].to_i, aspect: 1, focus: 2 %>
									</div>
								</td><td class="border px py align-top">
									<div id="offense-individual">
										<%= render "targets_form", form: form, month: tgt[:i].to_i, aspect: 1, focus: 1 %>
									</div>
								</td>
							</tr>
							<tr><!-- #edit collective targets -->
								<td class="bg-indigo-900 text-gray-300 border px py align-center"><%= t("target.aspect.col_a") %></td>
								<td class="border px py">
									<div id="defense-collective align-top">
										<%= render "targets_form", form: form, month: tgt[:i].to_i, aspect: 2, focus: 2 %>
									</div>
								</td><td class="border px py align-top">
									<div id="offense-collective">
										<%= render "targets_form", form: form, month: tgt[:i].to_i, aspect: 2, focus: 1 %>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			<% end %>
		</div>
		<%= form.hidden_field :retlnk, value: plan_team_path(@team) %>
		<%= render SubmitComponent.new(close: "cancel", close_return: :back, submit: "save") %>
	<% end %>
</div>
