<div id="teams-index">
	<div id="teams-header">
		<table>
			<th class="inline-flex items-center justify-center p-2 rounded-md text-yellow-600">
				<%= image_tag "team.png", size: "50x50" %>Equipos&nbsp;
				<div id="search-team" class="inline-flex text-gray-700 items-center justify-center p-2 rounded-md">
					<%= form_with(url: '/teams', method: 'get', local: true) do |f| %>
						<%= f.collection_select :season_id, Season.real.order(name: :desc), :id, :name %>
						<%= image_submit_tag "search.png", width: 25, height: 25, class: "search_button align-middle", alt: "Temporada" %>
					<% end %>
	      </div>
			</th>
		</table>
	</div>

	<div id="teams-grid">
		<table class="table-auto">
	    <thead>
	      <tr>
	        <th class="bg-indigo-900 text-gray-300 align-center border px py ">Nombre</th>
	        <th class="bg-indigo-900 text-gray-300 align-center border px py">Temporada</th>
	        <th colspan="2">
						<%= link_to new_team_path, data: {"turbo-frame": "modal" } do %>
							<%= image_tag "plus.png", size: "25x25", alt: "Crear" %>
						<% end %>
					</th>
	      </tr>
	    </thead>

	    <tbody>
	      <% @teams.each do |team| %>
	        <tr>
	          <td class="border px py"><%= link_to team.to_s, team, data: {"turbo-frame": "modal" } %></td>
	          <td align="center" class="border px-1 py-1"><%= team.season.name %></td>
	          <td>
	            <%= link_to team, method: :destroy, data: { confirm: '¿Borrar #{team.to_s}?' } do %>
	              <%= image_tag "delete.png", size: "25x25" %>
	            <% end %>
	          </td>
	  <!--
	          <td>< %= link_to 'Borrar', team, method: :destroy, data: { confirm: '¿Borrar #{team.to_s}?' } %></td>
	    -->
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
</div>
