<div id="teams-index">
	<div id="teams-header">
		<table>
      <tr>
        <th rowspan="2">
          <%= image_tag("team.svg", size: "50x50") %>
        </th>
				<th align="left" class="align-top text-yellow-600"><%= t(:l_team_index) %></th>
      </tr><tr>
				<th>
					<div id="search-team" class="inline-flex text-gray-700 rounded border shadow-inner">
						<%= form_with(url: '/teams', method: 'get', local: true) do |f| %>
							<%= f.collection_select :season_id, Season.all.order(name: :desc), :id, :name, {selected: params[:season_id] ? params[:season_id].to_i : 1} %>
							<%= image_submit_tag "search.svg", height: 25, class: "search_button align-middle", alt: t(:l_search) %>
						<% end %>
		      </div>
				</th>
      </tr>
    </table>
	</div>
	<div id="teams-grid">
		<table class="table-auto">
	    <thead>
	      <tr>
	        <th class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:h_name) %></th>
					<% unless params[:season_id] %>
						<th class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:l_sea_show) %></th>
					<% end %>
					<th class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:l_div_show) %></th>
	        <th colspan="2">
						<% if current_user.admin? %>
							<%= link_to new_team_path, data: {turbo_frame: "modal"} do %>
								<%= render "shared/add" %>
							<% end %>
						<% end %>
					</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @teams.each do |team| %>
	        <tr class="hover:text-white hover:bg-blue-700">
	          <td align="left" class="border px py"><%= link_to team.to_s, team %></td>
	          <% unless params[:season_id] %>
							<td align="center" class="border px py"><%= link_to team.season.name, team %></td>
						<% end %>
							<td align="center" class="border px py"><%= link_to team.division.name, team %></td>
						<% if current_user.admin? %>
		          <td class="hover:bg-white">
		            <%= link_to team, method: :delete, data: {confirm: t(:q_del) + "'#{team.to_s}'?"} do %>
		              <%= render "shared/delete" %>
		            <% end %>
		          </td>
						<% end %>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
</div>
