<div id="teams-index">
	<%= render FieldsComponent.new(fields: @header_fields) %>
	<div id="teams-grid">
		<table class="table-auto">
	    <thead>
	      <tr>
	        <th class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:h_name) %></th>
					<% unless params[:season_id] %>
						<th class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:l_sea_show) %></th>
					<% end %>
					<th class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:l_div_show) %></th>
	        <th colspan="2">
						<%= render ButtonComponent.new(button: @new_button) if @new_button %>
					</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @teams.each do |team| %>
	        <tr class="hover:text-white hover:bg-blue-700">
	          <td align="left" class="border px py"><%= link_to team.to_s, team %></td>
	          <% unless params[:season_id] %>
							<td align="center" class="border px py"><%= link_to team.season.name, team %></td>
						<% end %>
							<td align="center" class="border px py"><%= link_to team.division.name, team %></td>
						<% if current_user.admin? %>
		          <td class="hover:bg-white">
								<%= render ButtonComponent.new(button: {kind: "delete", url: teams_path(@team)}) %>
		          </td>
						<% end %>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
</div>
