<p id="notice"><%= notice %></p>

<h1>Teams</h1>

	<div data-controller="hello">
		<input data-hello-target="name" type="text">

		<button data-action="click->hello#greet">
			Greet
		</button>

		<span data-hello-target="output">
		</span>
	</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Season</th>
      <th>Category</th>
      <th>Division</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.season_id %></td>
        <td><%= team.category_id %></td>
        <td><%= team.division_id %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
