<h1>Nuevo Equipo</h1>

<%= form_with model: @team, remote: true do |form| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> impiden guardar este equipo:</h2>

      <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<table>
	<tr>
		<td rowspan="3" colspan="2" align="center">
			<%= image_tag("team.png", :size => "100x100") %>
		</td>
	</tr><tr>
		<th><%= form.label "Categoría" %></th>
		<td><%= form.collection_select :category_id, Category.real, :id, :to_s %></td>
	</tr><tr>
		<th><%= form.label "Competición" %></th>
		<td><%= form.collection_select :division_id, Division.real, :id, :name %></td>
	</tr><tr>
		<th><%= form.label "Nombre" %></th>
		<td><%= form.text_field :name %></td>
		<th><%= form.label "Temporada" %></th>
		<td><%= form.collection_select :season_id, Season.real, :id, :name %></td>
	</tr><tr>
		<td colspan="2">
			<table>
        <tr><th colspan="2">Entrenadores:</th></tr>
        <tr><td></td>
  				<td><div id=”team-coaches”>
  					<%= form.collection_check_boxes :coach_ids, Coach.active, :id, :fullname do |coach| %>
  						<div class="collection-check-box">
  							<%= coach.check_box %>
  							<%= coach.label %>
  						</div>
  					<% end %>
          </div></td>
  			</tr>
			</table>
		</td>
    <th><%= form.label "Pista:" %></th>
  	<td><%= form.collection_select :homecourt_id, Location.home, :id, :name %></td>
	</tr>
</table>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Volver', teams_path %>
