<%= render "shared/modal", simple: true do %>
<%= render "team_header" %>
<div id="show-plan-data">
	<table>
		<thead>
			<tr>
				<td align="right"><%= image_tag("teamplan.svg", size: "30x30") %></td>
				<th colspan="2" align="left">Planificaci&oacute;n</th>
				<td align="right">
					<% if current_user.admin? or @team.has_coach(current_user.person.coach_id) %>
						<%= link_to edit_plan_team_path, data: {turbo_frame: "modal"} do %>
							<%= render "shared/edit" %>
						<% end %>
					<% end %>
				</td>
			</tr><tr>
				<th class="bg-indigo-900 text-gray-300 border px py" align="center">Mes</th>
				<th class="bg-indigo-900 text-gray-300 border px py" align="center"></th>
				<th class="bg-indigo-900 text-gray-300 border px py" align="center">Defensa</th>
				<th class="bg-indigo-900 text-gray-300 border px py" align="center">Ataque</th>
			</tr>
		</thead>
		<tbody>
			<% @targets.each do |tgt| %>
				<tr><!-- #display individual targets -->
					<th rowspan="2" class="bg-indigo-900 text-gray-300 border px py align-center" align="center">
						<%= tgt[:month] %>
					</th>
					<td class="bg-indigo-900 text-gray-300 border px py align-center">Ind.</td>
					<td class="border px py align-top">
						<%= render "print_targets", targets: tgt[:t_d_ind] %>
					</td><td class="border px py align-top">
						<%= render "print_targets", targets: tgt[:t_o_ind] %>
					</td>
				</tr>
				<tr><!-- #display collective targets -->
					<td class="bg-indigo-900 text-gray-300 border px py align-center">Col.</td>
					<td class="border px py align-top">
						<%= render "print_targets", targets: tgt[:t_d_col] %>
					</td><td class="border px py align-top">
						<%= render "print_targets", targets: tgt[:t_o_col] %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% end %>
