<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Season:</strong>
  <%= @team.season_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @team.category_id %>
</p>

<p>
  <strong>Division:</strong>
  <%= @team.division_id %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
