<div id="team-show">
	<%= render @title %>
	<%= render @coaches %>
	<%= render @links if @links %>
	<%= render @grid  if @grid %>
	<%= render @calendar if @calendar %>
	<%= render @submit if @submit %>
</div>
