	<table>
		<tr>
			<td rowspan="3" align="center">
				<%= image_tag("team.svg", :size => "100x100") %>
			</td>
			<td colspan="2"><strong><%= @team.to_s %></strong></td>
		</tr><tr>
			<td colspan="2"><strong><%= @team.division.name %></strong></td>
			<td rowspan="2" align="center">Plan
				<%= link_to edit_team_path(@team), data: {"turbo-frame": "modal" } do %>
					<%= image_tag "teamplan.svg", size: "36x36", class: "rounded hover:bg-yellow-200" %>
				<% end %>
			</td>
		</tr><tr>
			<td colspan="2"><strong><%= @team.season.name %></strong></td>
		</tr><tr>
			<td class="inline-flex items-center align-center" rowspan="2">
				<%= image_tag("player.svg", :size => "36x36") %><strong>&nbsp;Jug.&nbsp;</strong>
			</td>
			<td align="center"><strong>#<td><strong>Nombre<td align="center"><strong>Edad</td>
		</tr>
		<% @team.players.order("number").each do |player| %>
		<tr>
			<td></td>
			<td align="center" class="rounded border"><%= player.number %></td>
			<td class="rounded border"><%= link_to player.to_s, player, class:"hover:bg-blue-700 hover:text-white", data: {"turbo-frame": "modal" } %></td>
			<td align="center" class="rounded border"><%= player.person.age %></td>
		</tr>
		<% end %>
		<tr>
			<td class="inline-flex items-center align-top"><%= image_tag("coach.svg", :size => "36x36") %><strong>&nbsp;Ent.&nbsp;</strong></td>
			<td colspan="3">
				<% @team.coaches.each do |coach| %>
					<%= link_to coach.to_s, coach, class:"hover:bg-blue-700 hover:text-white", data: {"turbo-frame": "modal" } %>
					<br>
				<% end %>
			</td>
		</tr><tr>
			<td class="inline-flex items-center align-top"><%= image_tag("calendar.svg", :size => "36x36") %><strong>&nbsp;Hor.&nbsp;</strong></td>
			<td colspan="2">
				<% unless @team.training_slots.empty? %>
					<strong><%= @team.training_slots.first.court %></strong>
					<br>
				<% end %>
				<% @team.training_slots.order(:wday).each do |ts| %>
					<%= link_to ts.to_s, ts %><br>
				<% end %>
			</td>
			<td>
				<% if current_user.admin? or @team.has_coach(current_user.person.coach_id) %>
					<%= link_to edit_team_path(@team), data: {"turbo-frame": "modal" } do %>
						<%= render "shared/edit" %>
					<% end %>
				<% end %>
			</td>
		</tr>
	</table>
