<div id="team-show">
	<%= render FieldsComponent.new(fields: @header_fields) %>
	<br>
	<div id="team-coaches">
		<table>
			<tr>
				<td align="right" class="align-top"><%= image_tag("coach.svg", :size => "30x30") %></td>
				<td align="left" colspan="3">
					<% @team.coaches.each do |coach| %>
						<%= link_to coach.to_s, coach, class:"hover:bg-blue-700 hover:text-white", data: {turbo_frame: "modal" } %>
						<br>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
	<br>
	<%= render FieldsComponent.new(fields: @link_fields) %>
	<br>
	<div id="team-events">
		<table>
			<tr>
				<th colspan="2" align="left" class="align-center"><div class="inline-flex"><%= image_tag("calendar.svg", size: "30x30") %><%= t(:l_cal) %></div></th>
				<th align="right">
					<% if @team.has_coach(current_user.person.coach_id) %>
						<%= render "events/new_event_button" %>
					<% end %>
				</th>
			</tr><tr class="bg-indigo-900 text-gray-300 align-center">
				<th class="border px py"><%= t(:h_date) %></th>
				<th class="border px py"><%= t(:h_time) %></th>
				<th class="border px py"><%= t(:h_desc) %></th>
			</tr>
			<% @team.events.normal.order(:start_time).each do |event| %>
				<%= render "events/event_row", event: event, short: true %>
			<% end %>
		</table>
	</div>
</div>
