<%= render "shared/modal" do %>
	<table>
		<tr>
			<td rowspan="3" align="center">
				<%= image_tag("teamplan.svg", size: "100x100", class: "rounded-full") %>
			</td>
			<td><%= @team.name %></td>
		</tr><tr>
			<td><%= @team.category %></td>
		</tr><tr>
			<td><%= @team.division %></td>
		</tr>
	</table>
<% end %>
