<%= form_with model: season, remote: true, authenticity_token: true, data: { label: label, controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>
	<% if season.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(season.errors.count, "error") %> impiden guardar esta temporada:</h2>

			<ul>
				<% season.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<table>
		<tr>
			<th rowspan="2" class="align-top">
				<%= image_tag("calendar.svg", :size => "50x50") %>
			</th><th colspan="2" align="left" class="rounded-md text-yellow-600">
				<%= label %>
			</th>
		</tr><tr>
			<td><%= form.text_field :name, size: 8, class: "rounded border shadow-inner" %></td>
		</tr><tr>
			<td align="right"><strong>Inicio</strong></td>
			<td><%= form.date_field :start, start_year: 1950, end_year: Time.now.year, class: "rounded border shadow-inner" %></td>
		</tr><tr>
			<td align="right"><strong>Final</strong></td>
			<td><%= form.date_field :end, start_year: 1950, end_year: Time.now.year, class: "rounded border shadow-inner" %></td>
		</tr><tr>
			<td align="center"><%= image_tag("location.svg", size: "30x30") %></td>
			<th align="left">Pistas asociadas</th>
		</tr><tr>
			<td></td>
			<td>
				<table>
					<template data-nested-form-target="template">
						<%= form.fields_for :locations, Location.new, child_index: 'NEW_RECORD' do |loc| %>
							<%= render 'location_row', form: loc %>
						<% end %>
					</template>
					<%= form.fields_for :locations do |loc| %>
						<tr>
						<%= render 'location_row', form: loc %>
						</tr>
					<% end %>
					<tr>
						<div data-nested-form-target="target"></div>
					</tr><tr>
						<td>
							<button type="button" data-action="nested-form#add"><%= render "shared/add" %></button>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<%= render "shared/save" %>
<% end %>
