<%= form_with model: season, authenticity_token: true, data: { title: title, controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper', turbo_frame: "_top" } do |form| %>
	<div id="seasons-form">
		<table>
			<div id="seasons-form-header">
				<tr>
					<th rowspan="2" class="align-top">
						<%= image_tag("calendar.svg", size: "50x50") %>
					</th><th colspan="2" align="left" class="rounded-md text-yellow-600">
						<%= title %>
					</th>
				</tr>
			</div>
			<div id="seasons-form-data">
				<tr>
					<td><%= form.text_field :name, size: 8, class: "rounded border shadow-inner" %></td>
				</tr><tr>
					<td align="right"><strong><%= t(:h_start) %></strong></td>
					<td><%= form.date_field :start_date, start_year: 1950, end_year: Time.now.year, class: "rounded border shadow-inner" %></td>
				</tr><tr>
					<td align="right"><strong><%= t(:h_end) %></strong></td>
					<td><%= form.date_field :end_date, start_year: 1950, end_year: Time.now.year, class: "rounded border shadow-inner" %></td>
				</tr>
			</div>
		</table>
		<%= render "shared/modal_bottom", save: true %>
	</div>
<% end %>
