<div id="seasons-index">
  <%= render FieldsComponent.new(fields: @header_fields) %>
  <%= render FieldsComponent.new(fields: @link_fields) %>
  <div id="season-events-grid">
		<table class="table-auto">
      <thead>
        <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py">Fecha</th>
        <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py">Hora</th>
        <th align="leff" class="bg-indigo-900 text-gray-300 align-center border px py">Equipo</th>
        <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py">Rival</th>
        <td>
          <%= link_to new_event_path(event: {kind: :holiday, team_id: 0, season_id: @season.id}), data: {turbo_frame: "modal"} do %>
            <%= render "shared/add" %>
          <% end %>
        </td>
      </thead>
	    <tbody>
        <% @events.each do |event| %>
          <%= render "events/event_row", event: event, season_id: @season.id %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
