<div id="slots-index">
	<%= render FieldsComponent.new(fields: @title) %>
	<div id="slots-search">
    <table>
      <tr>
				<td>
					<div id="search-slots" class="inline-flex text-gray-700 rounded border">
						<%= form_with(url: '/slots', method: 'get', local: true) do |f| %>
							<% if @season %>
								<% if @slots %>
									<%= f.collection_select :location_id, @season.locations.practice.order(:name), :id, :name, {selected: (params[:location_id] ? params[:location_id].to_i : (@slots.empty? ? (@season.locations.empty? ? 1 : @season.locations.first.location_id) : @slots.first.location_id))} %>
								<% else %>
									<%= f.collection_select :location_id, @season.locations.practice.order(:name), :id, :name, {selected: (params[:location_id] ? params[:location_id].to_i : @season.locations.first.location_id)} %>
								<% end %>
								<%= f.hidden_field :season_id, value: @season.id %>
							<% else %>
								<%= f.collection_select :location_id, Location.practice.order(:name), :id, :name, {selected: params[:location_id] ? params[:location_id].to_i : Location.practice.first.id} %>
								<%= f.hidden_field :season_id, value: nil %>
							<% end %>
							<%= image_submit_tag "search.svg", width: 25, height: 25, class: "search_button align-middle", alt: t(:m_search) %>
						<% end %>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div id="slots-grid">
		<table class="table-auto border-separate">
		  <thead>
				<tr>
				  <th align="center">
						<% if current_user.admin? and not (@season.teams.empty?) %>
							<%= link_to new_slot_path(location_id: params[:location_id], season_id: params[:season_id]), data: {turbo_frame: "modal"} do %>
								<%= render "shared/add" %>
							<% end %>
						<% end %>
					</th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center"><%= t(:a_wday_1) %></th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center"><%= t(:a_wday_2) %></th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center"><%= t(:a_wday_3) %></th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center"><%= t(:a_wday_4) %></th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center"><%= t(:a_wday_5) %></th>
				</tr>
		  </thead>
		  <tbody>
				<% t_hour = Time.new(2021,8,30,16,00) %>
				<% while t_hour.hour < 22 do %>
					<%= render 'week_view' , t_hour: t_hour%>
					<%  t_hour = t_hour + 30.minutes %>
				<% end %>
				<tr><td class="align-top text-sm">22:00</td></tr>
		  </tbody>
		</table>
	</div>
</div>
