<div id="slots-index">
	<div id="slots-header">
    <table>
      <tr>
        <th rowspan="2">
          <%= image_tag("timetable.svg", size: "50x50") %>
        </th><th align="left" class="align-top rounded-md text-yellow-600">
          Horarios
        </th>
      </tr><tr>
        <th align="left"><%= @season ? @season.name : " " %><th>
      </tr><tr>
				<td></td>
				<td>
					<div id="search-slots" class="inline-flex text-gray-700 rounded border">
						<%= form_with(url: '/slots', method: 'get', local: true) do |f| %>
							<% if @season %>
								<%= f.collection_select :location_id, @season.locations.practice.order(:name), :id, :name, {selected: params[:location_id] ? params[:location_id].to_i : @slots.first.id} %>
								<%= f.hidden_field :season_id, value: @season.id %>
							<% else %>
								<%= f.collection_select :location_id, Location.practice.order(:name), :id, :name, {selected: params[:location_id] ? params[:location_id].to_i : Location.practice.first.id} %>
								<%= f.hidden_field :season_id, value: nil %>
							<% end %>
							<%= image_submit_tag "search.svg", width: 25, height: 25, class: "search_button align-middle", alt: "Buscar" %>
						<% end %>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div id="slots-grid">
		<table class="table-auto border-separate">
		  <thead>
				<tr>
				  <th align="center">
						<% if current_user.admin? and not (@season.teams.empty?) %>
							<%= link_to new_slot_path(location_id: params[:location_id], season_id: params[:season_id]), data: {"turbo-frame": "modal" } do %>
								<%= render "shared/add" %>
							<% end %>
						<% end %>
					</th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center">Lun</th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center">Mar</th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center">Mi&eacute;</th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center">Jue</th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center">Vie</th>
				</tr>
		  </thead>
		  <tbody>
				<% t_hour = Time.new(2021,8,30,16,00) %>
				<% while t_hour.hour < 22 do %>
					<%= render 'week_view' , t_hour: t_hour%>
					<%  t_hour = t_hour + 30.minutes %>
				<% end %>
				<tr><td class="align-top text-sm">22:00</td></tr>
		  </tbody>
		</table>
	</div>
</div>
