<div id="slots-index">
	<%= render FieldsComponent.new(fields: @title) %>
	<div id="slots-grid">
		<table class="table-auto border-separate">
		  <thead>
				<tr>
				  <th align="center">
						<% if current_user.admin? and not (@season.teams.empty?) %>
							<%= render ButtonComponent.new(button: {kind: "add", url: new_slot_path(location_id: @location.id, season_id: @season.id), frame: "modal"}) %>
						<% end %>
					</th>
					<% 1.upto(5) do |i| %>
					  <th align="center" class="bg-indigo-900 text-gray-300 align-center" colspan=<%=@d_cols[i][:cols].to_s%>><%= @d_cols[i][:name] %></th>
					<% end %>
				</tr>
		  </thead>
		  <tbody>
				<% @slices.each do |slice| %>
				<tr>
					<td align="center" class="align-top text-sm">
						<%= slice[:label] if slice[:time] %>
					</td>
					<% slice[:chunks].each do |chunk| %>
						<% if chunk[:slot] %>
						<td align="center" class="bg-blue-300 rounded-lg border px py hover:text-white hover:bg-blue-700" rowspan=<%=chunk[:rows].to_s%> colspan=<%=chunk[:cols].to_s%>>
							<%= link_to chunk[:slot].team.to_s, slot_path(chunk[:slot], season_id: @season.id), class: "hover:text-white hover:bg-blue-700", data: {turbo_frame: "modal"} %>
							<br>
							<label class="text-xs"><%=chunk[:slot].to_s%></label>
						</td>
						<% elsif chunk[:gap] %>
						<td class="text-xs" rowspan=<%=chunk[:rows].to_s%> colspan=<%=chunk[:cols].to_s%>><%=chunk[:wday] ? "#{chunk[:wday]} #{slice[:time].hour.to_s}:#{slice[:time].min.to_s}" : ""%></td>
						<% else %>
						<td class="text-xs" rowspan=<%=chunk[:rows].to_s%> colspan=<%=chunk[:cols].to_s%>><%=chunk[:wday] ? "#{chunk[:wday]} #{slice[:time].hour.to_s}:#{slice[:time].min.to_s}" : ""%></td>
						<% end %>
					<% end %>
				</tr>
				<% end %>
		  </tbody>
		</table>
	</div>
</div>
