<div id="slots-index" class="max-w-full">
	<div id="slots-table" class="overflow-auto max-h-96 md:max-h-screen relative">
		<% if @season and @location %>
      	<table class="min-w-max border-separate">
        	<thead>
				<tr>
					<th class="text-center sticky left-0 min-w-16 bg-white">
						<%= render @btn_add if @btn_add %>
					</th>
					<% 1.upto(5) do |i| %>
						<th class="bg-indigo-900 text-gray-300 text-center min-w-32" colspan=<%=@d_cols[i][:cols].to_s%>><%= @d_cols[i][:name] %></th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% @slices.each do |slice| %>
				<tr class="border-b border-gray-300">
					<% if slice[:label] %>
					<td rowspan="4" class="text-center align-top text-xs md:text-sm bg-white sticky left-0 z-10 min-w-16 whitespace-nowrap">
						<%= slice[:label] %>
					</td>
					<% end %>
					<% slice[:chunks].each do |chunk| %>
					<%= render_chunk_cell(chunk, slice) %>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
	</div>
	<%= render @submit %>
</div>
