<div id="slots-index">
	<%= render FieldsComponent.new(fields: @title) %>
	<div id="slots-search">
    <table>
      <tr>
				<td>
					<div id="search-slots" class="inline-flex text-gray-700 rounded border">
						<%= form_with(url: '/slots', method: 'get', local: true) do |f| %>
							<% if @season %>
								<% if @slots %>
									<%= f.collection_select :location_id, @season.locations.practice.order(:name), :id, :name, {selected: (@location ? @location.id : (@slots.empty? ? (@season.locations.empty? ? 1 : @season.locations.first.location_id) : @slots.first.location_id))} %>
								<% else %>
									<%= f.collection_select :location_id, @season.locations.practice.order(:name), :id, :name, {selected: @location.id} %>
								<% end %>
								<%= f.hidden_field :season_id, value: @season.id %>
							<% else %>
								<%= f.collection_select :location_id, Location.practice.order(:name), :id, :name, {selected: params[:location_id] ? params[:location_id].to_i : Location.practice.first.id} %>
								<%= f.hidden_field :season_id, value: nil %>
							<% end %>
							<%= image_submit_tag "search.svg", width: 25, height: 25, class: "search_button align-middle", alt: t("action.search") %>
						<% end %>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div id="slots-grid">
		<table class="table-auto border-separate">
		  <thead>
				<tr>
				  <th align="center">
						<% if current_user.admin? and not (@season.teams.empty?) %>
							<%= render ButtonComponent.new(button: {kind: "add", url: new_slot_path(location_id: @location.id, season_id: @season.id), frame: "modal"}) %>
						<% end %>
					</th>
					<% 1.upto(5) do |i| %>
					  <th align="center" class="bg-indigo-900 text-gray-300 align-center" colspan=<%=@d_cols[i][:cols].to_s%>><%= @d_cols[i][:name] %></th>
					<% end %>
				</tr>
		  </thead>
		  <tbody>
				<% @slices.each do |slice| %>
				<tr>
					<td align="center" class="align-top text-sm">
						<%= slice[:label] if slice[:time] %>
					</td>
					<% slice[:chunks].each do |chunk| %>
						<% if chunk[:slot] %>
						<td align="center" class="bg-blue-300 rounded-md border px py hover:text-white hover:bg-blue-700" rowspan=<%=chunk[:rows].to_s%> colspan=<%=chunk[:cols].to_s%>>
							<%= link_to chunk[:slot].team.to_s, slot_path(chunk[:slot], season_id: @season.id), class: "hover:text-white hover:bg-blue-700", data: {turbo_frame: "modal"} %>
						</td>
						<% elsif chunk[:gap] %>
						<td  class="text-xs" rowspan=<%=chunk[:rows].to_s%> colspan=<%=chunk[:cols].to_s%>></td>
						<% else %>
						<td class="text-xs">&nbsp;</td>
						<% end %>
					<% end %>
				</tr>
				<% end %>
		  </tbody>
		</table>
	</div>
</div>
