<%= form_with(model: training_slot) do |form| %>
  <% if training_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training_slot.errors.count, "error") %> prohibited this training_slot from being saved:</h2>

      <ul>
        <% training_slot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
  	<tr>
  		<td rowspan="3" align="center">
  			<%= image_tag("team.png", :size => "100x100") %>
  		</td>
  		<td align="right"><strong><%= form.label "Temporada" %></td>
  		<td colspan="3"><%= form.collection_select :season_id, Season.all, :id, :name %></td>
  	</tr><tr>
  		<td align="right"><strong><%= form.label "Pista" %></td>
  		<td colspan="3"><%= form.collection_select :location_id, Location.practice, :id, :name %></td>
  	</tr><tr>
  		<td align="right"><strong><%= form.label "Día" %></td>
  		<td colspan="3"><%= form.select :wday, @weekdays %></td>
  	</tr><tr>
  		<td><%= form.collection_select :team_id, Team.for_season(form.object.season_id), :id, :to_s %></td>
  		<td align="right"><strong>Hora:</td>
  		<td><%= form.number_field :hour, in: 16..21, size: 3 %><%= form.number_field :min, in: 0..45, step: 15, size: 3 %></td>
  		<td><strong>Duración:</td>
  		<td><%= form.number_field :duration, in: 60..120, step: 30, size: 4 %></td>
  	<tr>
  </table>

  <div class="actions">
    <%= image_submit_tag "save.svg", height: 25, class: "save_button align-middle", alt: "Guardar" %>
  </div>
<% end %>
