<p id="notice"><%= notice %></p>
<h1>Horarios de Entrenamiento</h1>

<div id="search-players">
	<%= form_with(url: '/training_slots', method: 'get', local: true) do %>
		<%= text_field_tag(:search) %>
		<%= submit_tag("Filtrar Pista") %>
	<% end %>
</div>

<div id="training-grid">
	<table>
	  <thead>
		<tr>
		  <th></th>
		  <th align="center">Lun</th>
		  <th align="center">Mar</th>
		  <th align="center">Mi&eacute;r</th>
		  <th align="center">Jue</th>
		  <th align="center">Vie</th>
		</tr>
	  </thead>
	  <tbody>
			<% t_hour = Time.new(2000,1,1,16,00) %>
			<% while t_hour.hour < 22 do %>
				<%= render 'week_view' , t_hour: t_hour%>
				<% t_hour = t_hour + 30.minutes %>
			<% end %>
	  </tbody>
	</table>
</div>
<br>

<%= link_to 'New Training Slot', new_training_slot_path %>
