<div id="training-slots-index">
	<div id="training-slots-header">
		<table>
			<td>
			</td>
			<th class="inline-flex items-center justify-center p-2 rounded-md text-yellow-600">
				<%= image_tag "calendar.svg", size: "50x50" %>&nbsp;Horarios&nbsp;
				<div id="search-slots" class="inline-flex text-gray-700 rounded border">
					<%= form_with(url: '/training_slots', method: 'get', local: true) do |f| %>
						<%= f.collection_select :location_id, Location.order(name: :desc), :id, :name, {selected: params[:location_id] ? params[:location_id].to_i : 0} %>
						<%= image_submit_tag "search.svg", width: 25, height: 25, class: "search_button align-middle", alt: "Buscar" %>
					<% end %>
				</div>
			</th>
		</table>
	</div>

	<div id="training-slots-grid">
		<table class="table-auto border-separate">
		  <thead>
				<tr>
				  <th align="center">
						<%= link_to new_training_slot_path, data: {"turbo-frame": "modal" } do %>
							<%= render "shared/add" %>
						<% end %>
					</th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center">Lun</th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center">Mar</th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center">Mi&eacute;</th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center">Jue</th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center">Vie</th>
				</tr>
		  </thead>
		  <tbody>
				<% t_hour = Time.new(2000,1,1,16,00) %>
				<% while t_hour.hour < 22 do %>
					<%= render 'week_view' , t_hour: t_hour%>
					<% t_hour = t_hour + 30.minutes %>
				<% end %>
		  </tbody>
		</table>
	</div>
	<br>
</div>
