<p id="notice"><%= notice %></p>

<p>
  <strong>Season:</strong>
  <%= @training_slot.season_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @training_slot.location_id %>
</p>

<p>
  <strong>Wday:</strong>
  <%= @training_slot.wday %>
</p>

<p>
  <strong>Start:</strong>
  <%= @training_slot.start %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @training_slot.duration %>
</p>

<p>
  <strong>Team:</strong>
  <%= @training_slot.team_id %>
</p>

<%= link_to 'Edit', edit_training_slot_path(@training_slot) %> |
<%= link_to 'Back', training_slots_path %>
