<%= render "shared/modal" do %>
	<table>
		<tr>
			<td rowspan="3" align="center">
				<%= image_tag("team.png", :size => "100x100") %>
			</td>
			<td><strong><%= @training_slot.season.name %></td>
		</tr><tr>
			<td><strong><%= @training_slot.court %></td>
		</tr><tr>
			<td><strong><%= @training_slot.to_s %></td>
		</tr><tr>
			<td align="center"><strong><%= @training_slot.team.name %></td>
		<tr>
	</table>
<% end %>
