<%= render ModalComponent.new do %>
	<% f_cls = "rounded py-0 px-1 shadow-inner border-gray-200 bg-gray-50 focus:ring-blue-700 focus:border-blue-700" %>
	<% i_cls = "align-top" %>
	<%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>
		<table>
			<tr>
				<td align="center" class="align-center" rowspan="2">
					<%= image_tag(f.object.picture, :size => "50x50", class: "rounded-full") %>
				</td>
				<td class="text-blue-900 font-bold"><%= f.object.s_name %></td>
			</tr><tr>
				<td class="font-semibold"><%= I18n.t("password.change") %></td>
			</tr><tr>
				<td align="right" class="<%=i_cls%>"><%= image_tag "oldkey.svg", size: "25x25" %></td>
				</td><td>
					<%= f.password_field :current_password, autofocus: true, placeholder: I18n.t("password.old"), class: f_cls %>
				</td>
			</tr><tr>
				<td></td>
				<td class="text-sm"><i><%= I18n.t("password.blank_abort")%></i></td>
			</tr><tr>
				<td align="right" class="<%=i_cls%>"><%= image_tag "key.svg", size: "25x25" %></td>
				<td>
					<%= f.password_field :password, placeholder: I18n.t("password.new"), class: f_cls %>
					<% if @minimum_password_length %>
						<br />
						<i class="text-sm"><%= I18n.t("password.min_chars")%><%= @minimum_password_length %></i>
					<% end %>
				</td>
			</tr><tr>
				<td align="right" class="<%=i_cls%>"><%= image_tag "key.svg", size: "25x25" %></td>
				<td colspan="2"><%= f.password_field :password_confirmation, placeholder: I18n.t("password.confirm"), class: f_cls %></td>
			</tr>
		</table>
		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div><%= I18nt.("password.confirm_wait") + resource.unconfirmed_email %></div>
		<% end %>
		<%= render SubmitComponent.new(submit: "save") %>
	<% end %>
<% end %>
