<%= form_with model: @person, remote: true do |f| %>
	<table>
		<tr>
			<td rowspan="3" align="center">
				<%= image_tag("person.png", :size => "100x100") %>
			</td>
			<td align="right"><strong>Nom:</strong></td>
			<td><%= f.text_field :name, size: 10 %></td>
		</tr><tr>
			<td align="right"><strong>Apel:</strong></td>
			<td><%= f.text_field :surname, size: 10 %></td>
		</tr><tr>
			<td align="right"><strong>F.Nac.</strong></td>
			<td><%= f.date_field :birthday, start_year: 1950, end_year: Time.now.year %></td>
		</tr><tr>
			<td><strong>DNI:</strong>&nbsp;<%= f.text_field :dni, size: 6 %></td>
			<td align="right"><strong>Apodo</td>
			<td><%= f.text_field :nick, size: 6 %></td>
		</tr><tr>
			<td><strong><%= f.label "Fem:" %></strong>&nbsp;<%= f.check_box :female %></td>
		</tr>
	</table>
  <div class="actions">
		<%= image_submit_tag "save.png", height: 25, class: "save_button align-middle", alt: "Guardar" %>
  </div>
<% end %>
