<div id="people-index">
	<div id="people-header">
		<table>
			<tr>
				<th rowspan="2">
					<%= image_tag "person.svg", size: "50x50"%>
				</th>
				<th align="left" class="align-top text-yellow-600">Personas</th>
			</tr><tr>
				<th align="left">
					<div id="search-people" class="inline-flex rounded border">
						<%= form_with(url: '/people', method: 'get', local: true) do %>
							<%= text_field_tag :search, (params[:search] ? params[:search] : ""), size: 16, class: "text-gray-700 rounded border shadow-inner" %>
							<%= image_submit_tag "search.svg", height: 25, class: "search_button align-middle", alt: "Buscar" %>
						<% end %>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<div id="people-grid">
		<table class="table-auto">
			<thead>
				<tr>
					<th class="bg-indigo-900 text-gray-300 align-center">Nombre</th>
					<% if current_user.admin? %>
						<th>
						<%= link_to new_person_path, data: {"turbo-frame": "modal" } do %>
							<%= render "shared/add" %>
						<% end %>
					</th>
				<% end %>
			</tr>
			</thead>
			<tbody>
				<% @people.each do |person| %>
					<tr>
						<td class="border px py hover:text-white hover:bg-blue-700">
							<%= link_to person.to_s, person, data: {"turbo-frame": "modal" } %>
						</td>
						<% if current_user.admin? %>
							<td>
								<%= link_to person, method: :delete, data: { confirm: "¿Borrar '#{person.to_s}'?" } do %>
									<%= render "shared/delete" %>
								<% end %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br>
	<% if current_user.admin? %>
		<div id="import-export">
			<table>
				<tr>
					<td>
						<div class="rounded-lg border-4 border-green-800 hover:bg-green-200 mb-3">
							<%= link_to people_path(format: :xlsx) do %>
								<%= image_tag "export.svg", class: "align-top max-h-7 min-h-5" %>
							<% end %>
						</div>
					</td>
				</tr><tr>
					<td><%= image_tag "import.svg", class: "align-top max-h-7 min-h-5" %></td>
					<td>
						<%= form_with url: import_people_path, local: true do |form| %>
							<%= form.file_field :file %>
							<%= render "shared/save" %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
	<% end %>
</div>
