<div id="people-index">
	<%= render @fields %>
	<%= turbo_frame_tag "search-results" do %>
		<%= render @grid %>
	<% end %>
	<%= render @submit %>
	<%= render("shared/import_export", import_path: import_people_path, export_path: nil) if u_admin? %>
</div>
