<div id="people-index">
	<div id="people-header">
		<table>
			<tr>
				<th class="inline-flex items-center justify-center p-2 rounded-md text-yellow-600">
					<%= image_tag "person.png", size: "50x50" %>Personas&nbsp;
					<div id="search-people" class="inline-flex rounded border">
						<%= form_with(url: '/people', method: 'get', local: true) do %>
							<%= text_field_tag :search, "", size: 16, class: "text-gray-700 rounded border shadow-inner" %>
							<%= image_submit_tag "search.png", height: 25, class: "search_button align-middle", alt: "Buscar" %>
						<% end %>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<div id="people-grid">
		<table class="table-auto">
			<thead>
				<th colspan="2" align="left" class="bg-indigo-900 text-gray-300 align-center">Nombre</th>
				<th>
					<%= link_to new_person_path, data: {"turbo-frame": "modal" } do %>
						<%= image_tag "plus.png", size: "25x25", alt: "Crear" %>
					<% end %>
				</th>
			</thead>
			<tbody class="divide-y">
				<% @people.each do |person| %>
					<tr>
						<td class="border">
							<%= link_to person.to_s, person, data: {"turbo-frame": "modal" } %>
						</td>
						<td align="center" class="border px py">
							<%= person.player_id>0 ? "Jug." : "" %>
							<% if person.coach_id>0 %>
								<%= person.player_id>0 ? "/" : "" %>
								Ent.
							<% end %>
						</td>
						<td>
							<%= link_to person, method: :destroy, data: { confirm: "¿Borrar '#{person.to_s}'?" } do %>
								<%= image_tag "delete.png", size: "25x25" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div id="people-footer" class="bottom-0">
		<table>
			<tr>
				<td>
					<div class="rounded-lg border-4 border-green-800 hover:bg-green-200 mb-3">
						<%= link_to people_path(format: :xlsx) do %>
							<%= image_tag "export.png", width: 125 %>
						<% end %>
					</div>
				</td>
			</tr><tr>
				<td>
					<%= form_with url: import_people_path, local: true do |form| %>
						<label>
							<input name="Importar Personas" id="file" type="file">
							<%= image_tag "import.png", width: 125, class: "align-top" %>
						</label>
						<%= render "shared/save" %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
</div>
