<div class="<%=@button[:d_class]%>" align="<%=@button[:align]%>"<%= " data-controller=\"#{@button[:controller]}\" data-processing-working=\"#{@button[:working]}\"".html_safe if @button[:working] %>>
	<div class="relative">
		<% if @button[:url] %>
			<% target = "_blank" if @button[:tab] %>
			<%= link_to(@button[:url], target:, class: @button[:b_class], data: @button[:data]) do %>
				<%= button_content %>
			<% end %>
		<% else %>
			<%= button_tag(class: @button[:b_class], type: @button[:type], data: @button[:data]) do %>
				<%= button_content %>
			<% end %>
		<% end %>
		<%= button_cue if @button[:working] %>
	</div>
</div>
