<button class=<%="#{@button[:b_class]}" %>
  <%= "data-confirm=\"#{@button[:confirm]}\"" if @button[:confirm] %>
  <%= "data-action=\"#{@buttom[:action]}\"" if @button[:action] %>
>
  <div class="<%= @button[:d_class] %>">
    <% if @button[:url] %>
      <%= link_to @button[:url], data: @button[:modal] ? {turbo_frame: "modal"} : nil do %>
        <% if @button[:kind]=="edit" %>
          <%= @button[:label] if @button[:label] %>
          <%= image_tag(@button[:icon], size: @button[:size] ? @button[:size] : "30x30", class: @button[:i_class]) if @button[:icon] %>
        <% else %>
          <%= image_tag(@button[:icon], size: @button[:size] ? @button[:size] : "30x30", class: @button[:i_class]) if @button[:icon] %>
          <%= @button[:label] if @button[:label] %>
        <% end %>
      <% end %>
    <% else %>
      <% if @button[:kind]=="save" %>
        <%= @button[:label] if @button[:label] %>
        <%= image_tag(@button[:icon], class: @button[:i_class]) if @button[:icon] %>
      <% else %>
        <%= image_tag(@button[:icon], class: @button[:i_class]) if @button[:icon] %>
        <%= @button[:label] if @button[:label] %>
      <% end %>
    <% end %>
  </div>
</button>
