<div id="calendar" class="wrapper w-full">
	<div class="flex flex-col flex-grow">
		<table class="rounded-md shadow-lg">
			<thead class="font-semibold">
				<tr>
					<td><%= render @back_link if @back_link %></td>
					<td colspan=<%=@c_cols - 2%> class="text-indigo-900 text-center">
						<%=I18n.t("calendar.monthnames")[@start_date.month] + " " + @start_date.year.to_s%>
					</td>
					<td><%= render @fwd_link if @fwd_link%></td>
				</tr>
				<tr class="bg-indigo-900 text-gray-300 text-center font-semibold">
					<% @dayname.each do |day| %>
						<td class="border border-gray-300"><%=day%></td>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% 1.upto(@c_rows) do |i| %>
					<tr>
					<% 1.upto(@c_cols) do |j| %>
						<td class="<%=@cells[i][j][:c_class]%> text-sm"><%=@cells[i][j][:date].day%></td>
					<% end %>
					</tr>
					<tr>
					<% 1.upto(@c_cols) do |j| %>
						<td class="<%=@cells[i][j][:c_class]%>">
						<% if @cells[i][j][:events].empty? %>
							<% if @add_btn[i][j] %>
								<%=render @add_btn[i][j]%>
							<% else %>
								<br>
							<% end %>
						<% end%>
						<% @cells[i][j][:events].each do |event|%>
							<div class="<%=event[:b_class]%>" align="center">
								<button data-tooltip-target="<%="event-#{event[:id]}"%>" data-tooltip-trigger="hover" data-tooltip-placement="bottom" type="button" class="font-medium rounded-lg text-sm m-1">
									<%= link_to event_path(event[:id], retlnk: @anchor), class: event[:l_class], data: event[:data] do %>
										<%=image_tag(event[:icon], size: "30x30")%>
									<% end %>
								</button>
								<div id="<%="event-#{event[:id]}"%>" role="tooltip" class="<%=event[:t_class]%>">
										<% if event[:home] #it's a match%>
											<table>
												<tr>
													<td><%=event[:home][:team]%></td>
													<td>[<%=event[:home][:points]%>]</td>
												</tr><tr>
													<td><%=event[:away][:team]%></td>
													<td>[<%=event[:away][:points]%>]</td>
												</tr>
											</table>
										<% else %>
											<%=event[:label]%>
										<% end %>
								</div>
							</div>
						<% end %>
						</td>
					<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>