<button id="<%= @button[:id] %>" class="<%= @button[:b_class] %>" type="button" data-dropdown-toggle="<%= @button[:name] %>" data-dropdown-placement="<%= @button[:place] %>" data-dropdown-offset-distance=10 data-dropdown-offset-skidding=10>
	<% if @button[:ham] %>
	<svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
	</svg>
	<% elsif @button[:icon] %>
	<%=image_tag(@button[:icon], size: @button[:size] ? @button[:size] : "25x25", class: @button[:i_class])%>
	<% end %>
	<% if @button[:label] %>
	<div class="inline-flex items-center">
		<%= @button[:label] %>
		<% if @button[:sub] %>
			<svg aria-hidden="true" class="w-4 h-4 ml-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
		<% else %>
			<svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
		<% end %>
	</div>
	<% end %>
</button>
<div id="<%=@button[:name]%>" class="<%=@button[:d_class]%>">
	<ul aria-labelledby="<%=@button[:id]%>">
		<% @button[:options].each do |option| %>
		<li class="<%=@button[:o_class]%>">
			<% if option[:options] %>
				<% option[:id]  = "btn#{option[:name]}" %>
				<% option[:sub] = true %>
				<%= render DropdownComponent.new(button: option) %>
			<% else %>
				<%= link_to option[:url], data: option[:data] do %>
					<%= image_tag(option[:icon], size: option[:size] ? option[:size] : "25x25") if option[:icon] %><%= option[:label] if option[:label] %>
				<% end %>
			<% end %>
		</li>
		<% end %>
	</ul>
</div>
