<%= table_tag do %>
	<% @fields.each do |row| %>
		<%= tablerow_tag do %>
			<% row.each do |item| %>
				<%= tablecell_tag(item) do %>
					<% case item[:kind] %>
					<% when /^(accordion|button|contact|dropdown|search-.+)$/ %>
						<%= render item[:value] %>
					<% when /^(select-.+|.+box|.+-area|hidden|radio.+|upload)$/ %>
						<%= render InputBoxComponent.new(field: item, form: @form) %>
					<% when "gap" %>
						<% item[:size].times do %>
							&nbsp;
						<% end %>
					<% when "grid" %>
						<%= render GridComponent.new(grid: item[:value], form: @form) %>
					<% when "header-icon", "icon", "icon-label" %>
						<% if item[:label] %>
							<div class="inline-flex items-center">
							<% if item[:right] %>
								<%= item[:label] %>&nbsp;
							<% end %>
						<% end %>
						<% if item[:tip] # show tooltip %>
							<button data-tooltip-target="tooltip-<%=item[:tipid]%>" data-tooltip-placement="bottom" type="button">
						<% end %>
						<%= image_tag (item[:value] || item[:icon]), size: item[:size], class: item[:class] %>
						<% if item[:tip] # show tooltip %>
							</button>
							<div id="tooltip-<%=item[:tipid]%>" role="tooltip" class="absolute z-20 invisible inline-block px-1 py-1 text-sm font-medium text-gray-100 bg-gray-700 rounded-md shadow-sm opacity-0 tooltip">
								<%= item[:tip] %>
							</div>
						<% end %>
						<% if item[:label] %>
							<% unless item[:right] %>
								&nbsp;<%= item[:label] %>
							<% end %>
							</div>
						<% end %>
					<% when "lines" %>
						<% item[:value].each do |line|%>
							<%= line.to_s %>
							<br>
						<% end %>
					<% when "nested-form" %>
						<%= render NestedComponent.new(model: item[:model], key: item[:key], form: @form, child: item[:child], row: item[:row], filter: item[:filter], btn_add: item[:btn_add]) %>
					<% when "person-type" %>
						<% item[:icons].each do |icon| %>
							<% if icon[:tip] # show tooltip %>
								<button data-tooltip-target="tooltip-<%=icon[:tipid]%>" data-tooltip-placement="bottom" type="button">
							<% end %>
							<%= image_tag icon[:img], size: "25x25" %>
							<% if icon[:tip] # show tooltip %>
								</button>
								<div id="tooltip-<%=icon[:tipid]%>" role="tooltip" class="absolute z-10 invisible inline-block px py text-sm font-medium text-gray-100 bg-gray-700 rounded-md shadow-sm opacity-0 tooltip">
									<%= icon[:tip] %>
								</div>
							<% end %>
						<% end %>
					<% else %>
						<% if item[:dclass] %><div class="<%= item[:dclass] %>"><% end %>
							<%= item[:value] %>
						<% if item[:dclass] %></div><% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
