<table>
  <% @fields.each do |row| %>
    <tr>
      <% row.each do |item| %>
        <%=item[:cell]%>
        <% case item[:kind] %>
        <% when "icon" %>
          <%= image_tag item[:value], size: item[:size], class: item[:class] %>
        <% when "header-icon", "icon" %>
          <%= image_tag item[:value], size: item[:size], class: item[:class] %>
        <% when "icon-label" %>
          <%= image_tag(item[:icon], size: item[:size]) %>&nbsp;<%= item[:value] %>
        <% when "label-checkbox" %>
          <%= item[:label] %>&nbsp;<%= @form.check_box item[:key] %>
          <% when "radio-button" %>
            <%= @form.radio_button item[:key], item[:value], checked: item[:checked] %>
        <% when "text-box" %>
          <%= @form.text_field item[:key], value: item[:value], size: item[:size], rows: item[:rows], class: item[:i_class] %>
        <% when "email-box" %>
          <%= @form.email_field item[:key], autocomplete: item[:value], size: 25, class: item[:i_class] %>
        <% when "password-box" %>
          <%= @form.password_field item[:key], autocomplete: item[:auto], class: item[:i_class] %>
        <% when "text-area" %>
          <%= @form.text_area item[:key], value: item[:value], cols: item[:size], rows: item[:lines], class: item[:i_class] %>
        <% when "rich-text-area" %>
          <div id="trix-editor">
            <%= @form.rich_text_area item[:key], class: item[:class] %>
          </div>
        <% when "number-box" %>
          <%= @form.number_field item[:key], value: item[:value], size: item[:size] ? item[:size]: 2, class: item[:i_class] %>
        <% when "date-box" %>
          <%= @form.date_field item[:key], value: item[:value], start_year: item[:s_year], end_year: item[:e_year] ? item[:e_year] : Time.now.year, class: item[:i_class] %>
        <% when "time-box" %>
          <%= @form.number_field :hour, value: item[:hour], in: 10..22, size: item[:size] ? item[:size]: 2, class: item[:i_class] %>
          <strong>:<strong>
          <%= @form.number_field :min, value: item[:min], in: 0..45, step: 15, size: item[:size] ? item[:size]: 2, class: item[:i_class] %>
        <% when "select-box" %>
    			<%= @form.select item[:key], item[:options], {selected: item[:value] ? item[:value] : item[:options].first}, class: item[:i_class] %>
        <% when "select-collection" %>
    			<%= @form.collection_select item[:key], item[:collection], :id, :name, class: item[:i_class] %>
        <% when "search-text" %>
          <div id="text-search-box" class=<%= item[:i_class] %>>
            <%= form_with(url: item[:url], method: 'get', local: true) do |f| %>
              <%= text_field_tag :search, (params[:search] ? params[:search] : ""), size: item[:size], class: item[:i_class] %>
              <%= f.hidden_field :task_id, value: item[:task_id] if item[:task_id] %>
              <%= image_submit_tag "search.svg", height: 25, class: "search_button align-middle", alt: t(:m_search) %>
            <% end %>
          </div>
        <% when "search-select" %>
          <div id="select-search-box" class="<%=item[:i_class]%>"">
            <%= form_with(url: item[:url], value: item[:value], method: 'get', data: {turbo_frame: "_top"}) do |f| %>
              <%= f.select item[:key], options_for_select(item[:options], params[item[:key].to_sym] ? params[item[:key].to_sym].to_i : item[:value]) %>
              <%= image_submit_tag "search.svg", height: 25, class: "search_button align-middle", alt: t(:m_search) %>
            <% end %>
          </div>
        <% when "search-collection" %>
    			<div id="collection-search-box" class="<%=item[:i_class]%>">
    				<%= form_with(url: item[:url], method: 'get', local: true, data: {turbo_frame: "_top"}) do |f| %>
    					<%= f.collection_select item[:key], item[:collection], :id, :name, {selected: params[item[:key].to_sym] ? params[item[:key].to_sym] : item[:value]} %>
    					<%= image_submit_tag "search.svg", height: 25, class: "search_button align-middle", alt: t(:m_search) %>
    				<% end %>
          </div>
        <% when "select-file" %>
          <%= image_tag(item[:icon], size: "25x25") if item[:icon] %>
            <% if item[:label] %>
              <small class="font-semibold">&nbsp;<%= item[:label] %></small>
            <% end %>
          <%= @form.file_field item[:key], direct_upload: true %>
        <% when "add", "add-nested", "edit", "jump", "location" %>
          <%= render ButtonComponent.new(button: item) %>
        <% when "gap" %>
          <% item[:size].times do %>
            &nbsp;
          <% end %>
        <% when "lines" %>
          <% item[:value].each do |line|%>
            <%= line.to_s %>
            <br>
          <% end %>
        <% when "grid" %>
          <%= render GridComponent.new(g_head: item[:value][:header], g_rows: item[:value][:rows]) %>
        <% when "nested-form" %>
        <% when "hidden" # hidden form field %>
          <%= @form.hidden_field item[:value] %>
        <% else %>
          <%= item[:value] %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
