<table>
  <% @content.each do |row| %>
    <tr>
      <% row.each do |item| %>
        <td
          <% if item[:cols] %>colspan="<%= item[:cols] %>"<% end %>
          <% if item[:rows] %>rowspan="<%= item[:rows] %>"<% end %>
          <% if item[:class] %>class="<%= item[:class] %>"<% end %>
          <% if item[:align] %>align="<%= item[:align] %>"<% end %>
        >
        <% case item[:kind] %>
        <% when "icon" %>
          <%= image_tag item[:value], size: item[:size] %>
        <% when "icon-label" %>
          <%= image_tag(item[:icon], size: "25x25") %>&nbsp;<small><%= item[:value] %><small>
        <% when "text-box" %>
          <%= @form.text_field item[:key], value: item[:value], size: item[:size] ? item[:size]: 16, rows: item[:lines] ? item[:lines] : 1, class: "rounded border shadow-inner" %>
        <% when "text-area" %>
          <%= @form.text_area item[:key], value: item[:value], cols: item[:size] ? item[:size]: 16, rows: item[:lines] ? item[:lines] : 1, class: "rounded border shadow-inner" %>
        <% when "rich-text-area" %>
          <%= @form.rich_text_area item[:key], class: "rounded border shadow-inner" %>
        <% when "icon-text-box" %>
          <%= image_tag(item[:icon], size: "25x25") %>&nbsp;<%= @form.text_field item[:key], value: item[:value], size: item[:size] ? item[:size]: 16, rows: item[:rows] ? item[:rows] : 1, class: "rounded border shadow-inner" %>
        <% when "number-box" %>
          <%= @form.number_field item[:key], value: item[:value], size: item[:size] ? item[:size]: 2, class: "rounded border shadow-inner" %>
        <% when "icon-number-box" %>
          <%= image_tag(item[:icon], size: "25x25") %>&nbsp;<%= @form.number_field item[:key], value: item[:value], size: item[:size] ? item[:size]: 2, class: "rounded border shadow-inner" %>
        <% when "date-box" %>
          <%= @form.date_field :birthday, value: item[:value], start_year: item[:s_year], end_year: item[:e_year], class: "rounded border shadow-inner" %>
        <% when "label-checkbox" %>
          <%= item[:label] %>&nbsp;<%= @form.check_box item[:key] %>
        <% when "select-box" %>
    			<%= @form.select item[:key], item[:options], class: "rounded border shadow-inner" %>
        <% when "collecion-select" %>
          <%= @form.collection_select item[:key], item[:collection], :id, :name, class: "rounded border shadow-inner" %>
        <% when "select-file" %>
          <%= image_tag(item[:icon], size: "25x25") if item[:icon] %>
          <% if item[:label] %>
            <small class="font-semibold">&nbsp;<%= item[:label] %></small>
          <% end %>
          <%= @form.file_field item[:key], direct_upload: true %>
        <% when "gap" %>
          &nbsp;&nbsp;&nbsp;&nbsp;
        <% else %>
          <%= item[:value] %>
        <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
