<table class="table-auto" data-controller="checkbox-counter">
	<thead class="bg-indigo-900 text-gray-300">
		<tr>
			<% @title.each do |item| %>
				<%=item[:cell]%>
				<% case item[:kind] %>
				<% when "normal", "inverse", "gap" %>
					<%= sort_indicator if item[:sort] %>
					<% if item[:order_by] %>
						<%= build_order_link(column: item[:order_by], label: item[:value]) %>
					<% else %>
						<%= item[:value] %>
					<% end %>
				<% when "lines" %>
					<% item[:value].each do |line|%>
						<%= line.to_s %>
						<br>
					<% end %>
				<% when "dropdown", "button" %>
					<%= render item[:value] %>
				<% end %>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @rows.each do |g_row| %>
			<tr<% unless g_row[:name]=="bottom" %> class="hover:text-white hover:bg-blue-700"<% end %>>
				<% rowid = g_row[:items].last[:player_id].to_s if @limits%>
				<% g_row[:items].each do |item| %>
					<%= item[:cell] %>
					<% case item[:kind] %>
					<% when "bottom", "percentage", "gap" %>
						<%= item[:value] %>
					<% when "checkbox-q" %>
						<div class="align-middle">
        			<%= check_box item[:key], "#{rowid}_#{item[:q]}", {checked: item[:value] == 1, class: "rounded bg-gray-200 text-blue-700", data: { "row-id" => g_row[:player_id], "q" => item[:q] }} %>
						</div>
					<% when "icon" %>
						<%= link_to g_row[:url], data: g_row[:data] do %>
							<%= image_tag item[:value], size: "25x25" %>
						<% end %>
					<% when "lines" %>
						<% item[:value].each do |cad| %>
							<%= link_to cad, g_row[:url], data: g_row[:data] %>
							<br>
						<% end %>
					<% when "normal" %>
						<%= link_to item[:value].to_s, g_row[:url], data: g_row[:data] %>
					<% when "number-box" %>
						<%= render InputBoxComponent.new(field: item, form: @form) %>
					<% else %>
						<%= render item[:value] %>
					<% end %>
				<% end %>
				<% if @limits %>
					<td>
						<div class="align-middle" data-checkbox-counter-target="rowCounter" data-row-id="<%=rowid%>">0</div>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
  <tfoot>
    <tr>
      <td colspan="6">Total checked:</td>
      <td data-checkbox-counter-target="totalCounter">0</td>
    </tr>
  </tfoot>
</table>