<table class="table-auto">
	<thead class="bg-indigo-900 text-gray-300">
		<tr>
			<% @title.each do |item| %>
				<%=item[:cell]%>
				<% case item[:kind] %>
				<% when "normal", "inverse", "gap" %>
					<%=sort_indicator if item[:sort]%>
					<% if item[:order_by] %>
						<%=build_order_link(column: item[:order_by], label: item[:value])%>
					<% else %>
						<%=item[:value]%>
					<% end %>
				<% when "lines" %>
					<% item[:value].each do |line|%>
						<%= line.to_s %>
						<br>
					<% end %>
				<% when "dropdown", "button" %>
					<%= render item[:value] %>
				<% end %>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @rows.each do |g_row| %>
			<tr<% unless g_row[:name]=="bottom"%> class="hover:text-white hover:bg-blue-700"<% end %>>
				<% g_row[:items].each do |item| %>
					<%=item[:cell]%>
					<% case item[:kind] %>
					<% when "normal" %>
						<%= link_to item[:value].to_s, g_row[:url], data: g_row[:data] %>
					<% when "lines" %>
						<% item[:value].each do |cad| %>
							<%= link_to cad, g_row[:url], data: g_row[:data] %>
							<br>
						<% end %>
					<% when "icon" %>
						<%= link_to g_row[:url], data: g_row[:data] do %>
							<%= image_tag item[:value], size: "25x25" %>
						<% end %>
					<% when "bottom", "percentage" %>
						<%=item[:value]%>
					<% when "checkbox" %>
						<div class="align-middle">
							<%= @form.check_box item[:key], value: item[:value], class: "rounded bg-gray-200 text-blue-700" %>
						</div>
					<% when "checkbox-q" %>
						<div class="align-middle">
							<%= check_box item[:key], "#{item[:player_id]}_#{item[:q]}", {checked: item[:value]==1, class: "rounded bg-gray-200 text-blue-700"} %>
						</div>
					<% else %>
						<%= render item[:value] %>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
