<table>
  <% @header.each do |row| %>
    <tr>
      <% row.each do |item| %>
        <td
          <% if item[:cols] %>colspan="<%= item[:cols] %>"<% end %>
          <% if item[:rows] %>rowspan="<%= item[:rows] %>"<% end %>
          <% if item[:class] %>class="<%= item[:class] %>"<% end %>
          <% if item[:align] %>align="<%= item[:align] %>"<% end %>
        >
        <% case item[:kind] %>
        <% when "header-icon", "icon" %>
          <%= image_tag item[:value], size: item[:size] %>
        <% when "icon-value" %>
          <%= image_tag(item[:icon], size: "25x25") %>&nbsp;<%= item[:value] %>
        <% when "text-search" %>
          <%= render "shared/text_search", search_in: item[:url], value: params[:search] %>
        <% when "email-box" %>
          <%= @form.email_field item[:key], autocomplete: item[:value], class: "rounded border shadow-inner" %>
        <% when "password-box" %>
          <%= @form.password_field item[:key], autocomplete: item[:auto], class: "rounded border shadow-inner" %>
        <% when "text-box" %>
          <%= @form.text_field item[:key], value: item[:value], size: item[:size] ? item[:size]: 16, rows: item[:rows] ? item[:rows] : 1, class: "rounded border shadow-inner" %>
        <% when "icon-text-box" %>
          <%= image_tag(item[:icon], size: "25x25") %>&nbsp;<%= @form.text_field item[:key], value: item[:value], size: item[:size] ? item[:size]: 16, rows: item[:rows] ? item[:rows] : 1, class: "rounded border shadow-inner" %>
        <% when "number-box" %>
          <%= @form.number_field item[:key], value: item[:value], size: item[:size] ? item[:size]: 2, class: "rounded border shadow-inner" %>
        <% when "icon-number-box" %>
          <%= image_tag(item[:icon], size: "25x25") %>&nbsp;<%= @form.number_field item[:key], value: item[:value], size: item[:size] ? item[:size]: 2, class: "rounded border shadow-inner" %>
        <% when "date-box" %>
          <%= @form.date_field :birthday, value: item[:value], start_year: item[:s_year], end_year: item[:e_year], class: "rounded border shadow-inner" %>
        <% when "select-box" %>
    			<%= @form.select item[:key], item[:options], {selected: item[:value] ? item[:value] : item[:options].first}, class: "rounded border shadow-inner" %>
        <% when "collecion-select" %>
    			<%= @form.collection_select item[:key], item[:collection], :id, :name, class: "rounded border shadow-inner" %>
        <% when "select-search" %>
    			<div id="search-season" class="inline-flex text-gray-700 rounded border shadow-inner">
    				<%= form_with(url: item[:url], method: 'get', local: true) do |f| %>
    					<%= f.collection_select :search, item[:collection], :id, :name, {selected: params[:search] ? params[:search] : item[:default]} %>
    					<%= image_submit_tag "search.svg", height: 25, class: "search_button align-middle", alt: t(:m_search) %>
    				<% end %>
    	     </div>
        <% when "location" %>
          <button>
            <%= link_to item[:url], target: '_blank', class: "inline-flex rounded-lg font-bold hover:bg-blue-100" do %>
            <%= image_tag("gmaps.svg", size: "25x25") %>
              <small><%= item[:name] %></small>
            <% end %>
          </button>
        <% when "gap" %>
          &nbsp;&nbsp;&nbsp;&nbsp;
        <% else %>
          <%= item[:value] %>
        <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
