<% case @fdata[:kind] %>
<% when :date_box %>
	<%= @form.date_field(@fdata[:key], value: @fdata[:value], start_year: @fdata[:s_year], end_year: (@fdata[:e_year] || Time.now.year), class: @i_class, data: @i_data) %>
<% when :email_box %>
	<%= @form.email_field(@fdata[:key], placeholder: @fdata[:placeholder], size: @fdata[:size], class: @i_class, data: @i_data) %>
<% when :hidden %>
	<%= @form.hidden_field(@fdata[:key].to_sym, value: @fdata[:value], data: @i_data) %>
<% when :image_box %>
	<style>
		/* Style the container with fixed dimensions */
		#imageboxContainer {
			max-width: <%= @width %>;
			max-height: <%= @height %>;
			border: 1px solid gray;
			overflow: hidden;
			position: relative;
			display: flex; /* Use flexbox */
			justify-content: center; /* Center horizontally */
			align-items: center; /* Center vertically */
		}

		#imageSnapshot {
			max-width: <%= @width %>;
			max-height: <%= @height %>;
		}
	</style>
	<div id="imageboxContainer" data-controller="imagebox" class="group flex rounded relative">
		<!-- Image element to display snapshots (loaded initially) -->
		<%= image_tag @fdata[:value], id: "imageSnapshot", class: "object-cover w-full", data: { action: "click->imagebox#openFileDialog", imagebox_target: 'selectedImage' } %>

		<!-- Overlay for the camera icon -->
		<div class="overlay absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 flex justify-center items-center" data-action="click->imagebox#openFileDialog" >
			<span class="camera-icon text-4xl pointer-events-none">📷</span>
		</div>

		<!-- Hidden input for file upload -->
		<%= @form.file_field @fdata[:key], id: "imageFile", direct_upload: true, class: "hidden", data: @i_data %>
	</div>
<% when :label_checkbox %>
	<div class='inline-flex align-middle'>
		<% if @fdata[:right] %>
			<label class='font-medium'><%= @fdata[:label] %></label>
			<%= @form.check_box(@fdata[:key], class: @i_class) %>
		<% else %>
			<%= @form.check_box(@fdata[:key], class: @i_class) %>
			<label class='font-medium'><%= @fdata[:label] %></label>
		<% end %>
	</div>
<% when :number_box %>
	<%= @form.number_field(@fdata[:key], value: @fdata[:value], size: @fdata[:size] || 2, in: @fdata[:min]..@fdata[:max], step: @fdata[:step], class: @i_class, data: @i_data) %>
	<%= @fdata[:units].to_s %>
<% when :password_box %>
	<%= @form.password_field(@fdata[:key], placeholder: @fdata[:placeholder], class: @i_class, size: @fdata[:size], data: @i_data) %>
<% when :radio_button %>
	<%= @form.radio_button(@fdata[:key], @fdata[:value], checked: @fdata[:checked], class: @i_class, data: @i_data) %>
<% when :rich_text_area %>
	<%= @form.rich_text_area(@fdata[:key], class: @i_class, data: @i_data) %>
<% when :select_box %>
	<%= @form.select(@fdata[:key], @fdata[:options], { selected: @fdata[:value] ? @fdata[:value] : @fdata[:options].first }, class: @i_class, data: @i_data) %>
<% when :select_checkboxes %>
	<% @form.collection_check_boxes @fdata[:key], @fdata[:options], :id, :to_s do |obj| %>
		<%= obj.check_box({ class: 'rounded bg-gray-200 text-blue-700' }) %>&nbsp;<%= obj.object.to_s %><br>
	<% end %>
<% when :select_collection %>
	<select class='<%= @i_class %>'	name='<%= @form.object.class.to_s.downcase + "[#{@fdata[:key]}]" %>' id='<%= @fdata[:key] %>' <%= @fdata[:s_target]&.html_safe	%>>
		<% @fdata[:options].each do |opt| %>
			<option value="<%= opt[:id] %>"<% if (opt[:id] ? opt[:id] : opt.id) == @fdata[:value] %> selected='selected'<% end %>><%= opt[:name] ? opt[:name] : opt.name %></option>
		<% end %>
	</select>
<% when :select_load %>
	<fieldset class='contents' data-controller='search-params select-load'>
		<select class='<%= @i_class %>' name='<%= @form.object.class.to_s.downcase + "[#{@fdata[:key]}]" %>' id='<%= @fdata[:key] %>' data-action='change->search-params#encode change->select-load#click' autocomplete='off'>
			<% @fdata[:options].each do |opt| %>
				<option value=<%="#{opt[1]}" + (@fdata[:hidden] ? "|#{@fdata[:hidden]}" : "")%><% if opt[1] == @fdata[:value] %> selected='selected'<% end %>><%= opt[0] %></option>
			<% end %>
		</select>
		<a href='<%= @fdata[:url] %>' hidden data-search-params-target='anchor' data-select-load-target='click' data-turbo-frame='<%= @form.field_id(@fdata[:key], :turbo_frame) %>'>GetDrill</a>
	</fieldset>
<% when :text_area %>
	<%= @form.text_area(@fdata[:key], value: @fdata[:value], placeholder: @fdata[:placeholder], cols: @fdata[:size], rows: @fdata[:lines], class: @i_class, data: @i_data) %>
<% when :text_box %>
	<% if @fdata[:options] # autosearch text input %>
		<%= @form.text_field(@fdata[:key], list: "#{@fdata[:key]}_list", value: @fdata[:value], placeholder: @fdata[:placeholder], size: @fdata[:size], rows: @fdata[:rows], class: @i_class, data: @i_data) %>
		<datalist id="<%=@fdata[:key]%>_list">
			<% @fdata[:options].each do |opt| %>
				<option><%=opt%></option>
			<% end %>
		</datalist>
	<% else # regular text box%>
		<%= @form.text_field(@fdata[:key], value: @fdata[:value], placeholder: @fdata[:placeholder], size: @fdata[:size], rows: @fdata[:rows], class: @i_class, data: @i_data) %>
	<% end %>
<% when :time_box %>
	<%= @form.number_field(:hour, value: @fdata[:hour], in: 9..22, size: @fdata[:size] || 3, class: @i_class, data: @i_data.merge({condition: "min:6"})) %>
	<strong>:</strong>
	<%= @form.number_field(:min, value: @fdata[:mins], in: 0..45, step: 15, size: @fdata[:size] || 3, class: @i_class, data: @i_data.merge({condition: "max:59"})) %>
<% when :upload %>
	<div id="upload-file" class="inline-flex items-center" data-controller="upload">
		<!-- Hidden input for file upload -->
		<%= @form.file_field(@fdata[:key], id: "upload-btn-#{@fdata[:key]}", direct_upload: true, class: "hidden", data: @i_data) %>

		<!-- Custom button to trigger file input -->
		<button type="button" class="custom-upload-btn <%= @fdata[:i_class] %>" data-action="click->upload#selectFile" data-upload-target="button">
			<%= render_image(@fdata, size: "25x25") if (@fdata[:icon].present? || @fdata[:symbol].present?) %>
			<%= @fdata[:label] %>
		</button>

		<!-- Display selected file name -->
		<span id="file-name-<%= @fdata[:key] %>" class="px text-sm text-gray-500" data-upload-target="fileName"><%= @fdata[:fname] %></span>
	</div>
<% end %>
