<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal",
                    turbo_modal_target: "modal",
                    action: "turbo:submit-end->turbo-modal#submitEnd keyup@window->turbo-modal#closeWithKeyboard click@window->turbo-modal#closeBackground" },
                    class: "animated fadeIn fixed z-10 inset-0 mt-1 overflow-auto bg-gray-500 bg-opacity-75 flex items-center justify-center" do %>
    <!-- Modal Container -->
    <div class="animated fadeIn fixed z-10 inset-0 mt-1 overflow-auto bg-gray-500 bg-opacity-75 flex items-center justify-center">
      <!-- Modal Inner Container -->
      <div data-extended-modal-target="body" class="flex rounded-lg relative mb-auto inset-y-16 object-cover overflow-auto shadow">
        <!-- Modal Card -->
        <div class="bg-white rounded-lg shadow">
          <div class="p-3">
            <%= turbo_frame_tag "modal-body" do %>
              <%= content %>
              <% if @close %>
                <div class="flow-root mt-3">
                  <div class="float-left ml-3">
                    <%= render ButtonComponent.new(button: @close) %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
