<div id="<%= @model %>-<%= @key %>" data-controller="nested-form">
  <template data-nested-form-target="template">
    <%= prepare_template %>
  </template>

  <div data-nested-form-target="container">
    <%= prepare_collection %>
  </div>

  <%= render @btn_add %>
</div>
