<div id="combo-search-box">
	<%= form_with(url: @search[:url], method: :get, data: {controller: "search-form", search_text_target: "fsearch", turbo_frame: "search-results"} ) do |fsearch| %>
		<table>
			<tr class="inline-flex">
				<% @search[:fields].each do |opt| %>
				<td class="relative">
					<% if opt[:label] %><label for="<%=opt[:key]%>" class="<%=@search[:l_class]%>"><%=opt[:label]%></label><% end %>
					<% case opt[:kind]%>
					<% when "search-text" %>
						<%=fsearch.text_field opt[:key], placeholder: opt[:placeholder], value: opt[:value], size: opt[:size], class: @search[:i_class], data: @s_action %>
					<% when "search-select" %>
						<%= fsearch.select opt[:key], options_for_select(opt[:options], session[opt[:key].to_sym].presence || opt[:value]), { include_blank: t("scope.all") }, { class: @search[:i_class] } %>
					<% when "search-collection" %>
						<%= fsearch.collection_select opt[:key], opt[:options], :id, :name, { selected: params[opt[:key].to_sym] || opt[:value] }, { class: @search[:i_class] } %>
					<% when "hidden" %>
						<%= fsearch.hidden_field(opt[:key].to_sym, value: opt[:value]) %>
					<% end %>
				</td>
				<% end %>
				<td><%=image_submit_tag "search.svg", height: 25, class: "align-middle", alt: t("action.search") %></td>
			</tr>
		</table>
	<% end %>
</div>