<%= form_for @user, authenticity_token: true, data: { turbo_frame: "_top" } do |form| %>
	<table>
		<%= form.fields_for :person do |f| %>
			<tr>
				<td></td><th colspan="3" align="left" class="text-yellow-600"><%= title %></th>
			</tr><tr>
			<td colspan="4"><strong><%= t(:l_pic) %></strong><%= form.file_field :avatar, direct_upload: true %></td>
			</tr><tr>
				<td rowspan="3" align="center">
					<%= image_tag(@user.picture, size: "100x100", class: "rounded-full") %>
				</td>
				<td align="right"><strong><%= t(:l_name) %></strong></td>
				<td colspan="2"><%= f.text_field :name, size: 12, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td align="right"><strong><%= t(:l_surname) %></strong></td>
				<td colspan="2"><%= f.text_field :surname, size: 16, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td align="right"><strong><%= image_tag "calendar.svg", size: "25x25", alt: t(:l_bday) %></strong></td>
				<td><%= f.date_field :birthday, start_year: 1950, end_year: Time.now.year, class: "rounded border shadow-inner" %>
			</tr><tr>
				<td><strong><%= t(:l_id) %></strong><%= f.text_field :dni, size: 8, class: "rounded border shadow-inner" %></td>
				<td align="right"><strong><%= image_tag "user.svg", size: "25x25", alt: t(:l_nick)  %></strong></td>
				<td><%= f.text_field :nick, size: 8, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td><strong><% t(:l_role) %></strong><%= form.select :role, User.roles.keys.map {|role| [role.titleize,role]}, {selected: @user.role} %></td>
				<td align="right"><strong><%= image_tag "at.svg", size: "25x25", alt: t(:l_email) %></strong></td>
				<td><%= form.text_field :email, size: 22, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td colspan="2" align="right"><strong><%= image_tag "phone.svg", size: "25x25", alt: t(:l_tel) %></strong></td>
				<td><%= f.text_field :phone, size: 12, class: "rounded border shadow-inner" %></td>
			</tr>
		<% end %>
	</table>
	<%= render "shared/modal_bottom", save: true %>
<% end %>
