<%= form_for @user, remote: true, authenticity_token: true do |form| %>
	<% if @user.errors.any? %>
		<div class="p-4 border border-red-600" data-extended-modal-target="errors">
			<h2>
				No se pudo guardar el usuario
			</h2>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<table>
		<%= form.fields_for :person do |f| %>
			<tr>
				<td colspan="4"><strong>Foto:</strong><%= form.file_field :avatar, direct_upload: true %></td>
			</tr><tr>
				<td rowspan="3" align="center">
					<%= image_tag(@user.picture, size: "100x100", class: "rounded-full") %>
				</td>
				<td align="right"><strong>Nom.</strong></td>
				<td colspan="2"><%= f.text_field :name, size: 12, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td align="right"><strong>Apel.</strong></td>
				<td colspan="2"><%= f.text_field :surname, size: 16, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td align="right"><strong><%= image_tag "calendar.svg", size: "25x25", alt: "Nac:"  %></strong></td>
				<td><%= f.date_field :birthday, start_year: 1950, end_year: Time.now.year, class: "rounded border shadow-inner" %>
			</tr><tr>
				<td><strong>DNI:&nbsp;</strong><%= f.text_field :dni, size: 7, class: "rounded border shadow-inner" %></td>
				<td align="right"><strong><%= image_tag "user.svg", size: "25x25", alt: "Nick:"  %></strong></td>
				<td><%= f.text_field :nick, size: 8, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td><strong>Papel:</strong><%= form.select :role, User.roles.keys.map {|role| [role.titleize,role]}, {selected: @user.role} %></td>
				<td align="right"><%= image_tag "at.svg", size: "25x25", alt: "e-mail"  %></td>
				<td><%= form.text_field :email, size: 22, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td colspan="2" align="right"><strong><%= image_tag "phone.svg", size: "25x25", alt: "Tel:"  %></strong></td>
				<td><%= f.text_field :phone, size: 12, class: "rounded border shadow-inner" %></td>
			</tr>
		<% end %>
	</table>
	<%= render "shared/save" %>
<% end %>
