<div id="users-index">
	<div id="users-header">
		<table>
			<tr>
				<th rowspan="2" class="items-center justify-center">
					<%= image_tag "user.svg", size: "50x50", class: "rounded-full" %>
				</th>
				<th align="left" class="align-top text-yellow-600">Usuarios</th>
			</tr><tr>
				<th>
					<div id="users-search" class="inline-flex rounded border">
						<%= form_with(url: '/users', method: 'get', local: true) do %>
							<%= text_field_tag :search, (params[:search] ? params[:search] : ""), size: 16, class: "text-gray-700 rounded border shadow-inner" %>
							<%= image_submit_tag "search.svg", height: 25, class: "search_button align-middle", alt: "Buscar" %>
						<% end %>
					</div>
				</th>
		</table>
	</div>
	<div id="users-grid">
		<table class="table-auto">
			<thead>
				<tr>
					<th class="bg-indigo-900 text-gray-300 align-center border px py">Nombre</th>
					<th align="center" class="bg-indigo-900 text-gray-300 align-center border px py">Jug.</th>
					<th align="center" class="bg-indigo-900 text-gray-300 align-center border px py">Ent.</th>
					<th align="center" class="bg-indigo-900 text-gray-300 align-center border px py">Adm.</th>
					<th align="center">
						<%= link_to new_user_path, data: {"turbo-frame": "modal" } do %>
							<%= render "shared/add" %>
						<% end %>
					</th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td class="border px py hover:text-white hover:bg-blue-700"><%= link_to user.s_name, user, data: {"turbo-frame": "modal" } %></td>
						<td align="center" class="border px py"><%= user.is_player? ? image_tag("Yes.svg", :size => "30x25") : image_tag("No.svg", :size => "30x25") %></td>
						<td align="center" class="border px py"><%= user.is_coach? ? image_tag("Yes.svg", :size => "30x25") : image_tag("No.svg", :size => "30x25") %></td>
						<td align="center" class="border px py"><%= user.admin? ? image_tag("Yes.svg", :size => "30x25") : image_tag("No.svg", :size => "30x25") %></td>
						<td>
							<%= link_to user, method: :delete, data: { confirm: "¿Borrar '#{user.to_s}'?" } do %>
								<%= render "shared/delete" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
