<% if current_user.admin? %>
	<%= render "shared/modal" do %>
		<%= form_for @user, authenticity_token: true, data: { turbo_frame: "_top" } do |form| %>
			<table>
				<tr>
					<td></td><th colspan="3" align="left" class="text-yellow-600"><%= t(:l_user_new) %></th>
				</tr><tr>
					<td rowspan="4" align="center" class="align-center"><%= image_tag("user.svg", size: "50x50", class: "rounded-full") %></td>
				</tr><tr>
					<td align="right"><strong><%= image_tag "at.svg", size: "25x25", alt: t(:l_email) %></strong></td>
					<td colspan="2"><%= form.email_field :email, autofocus: true, autocomplete: t(:l_email), class: "rounded border shadow-inner" %></td>
				</tr><tr>
					<td align="right"><strong><%= image_tag "key.svg", size: "25x25", alt: t(:l_pass) %></strong></td>
					<td colspan="2"><%= form.password_field :password, autocomplete: "current-password", class: "rounded border shadow-inner" %></td>
				</tr><tr>
					<td align="right"><strong><%= image_tag "key.svg", size: "25x25", alt: t(:l_pass_conf) %></strong></td>
					<td colspan="2"><%= form.password_field :password_confirmation, autocomplete: "current-password", class: "rounded border shadow-inner" %></td>
				</tr><tr>
					<td colspan="2"></td>
					<td class="text-sm"><%= t(:i_pass_conf) %></td>
	    	</tr>
			</table>
			<%= render "shared/modal_bottom", save: true %>
		<% end %>
	<% end %>
<% end %>
