<%= render ModalComponent.new do %>
	<div id="user-show">
		<%= render FieldsComponent.new(fields: @title) %>
		<table>
			<div id="user-show-data">
				<% if @user.teams %>
					<tr>
						<th colspan="3" align="center" class="border px py text-white bg-blue-900"><%= t("team.many") %></th>
						<th colspan="1" align="center" class="border px py text-white bg-blue-900"><%= t("season.single") %></th>
					</tr>
					<% @user.teams.each do |team| %>
						<tr>
							<td colspan="3" class="border px py hover:text-white hover:bg-blue-700"><%= link_to team.to_s, team %></td>
							<td colspan="1" class="border px py hover:text-white hover:bg-blue-700" align="center"><%= link_to team.season.name, team %></td>
						</tr>
					<% end %>
				<% end %>
			</div>
		</table>
		<%= render SubmitComponent.new(submit: edit_user_path(@user), frame: "modal") %>
	</div>
<% end %>
