<%= render "shared/modal", simple: true do %>
	<div id="user-show">
		<table>
			<div id="user-show-header">
				<tr>
					<td rowspan="2" align="center">
						<%= image_tag(@user.picture, :size => "100x100", class: "rounded-full") %>
					</td>
					<th align="left" class="align-top rounded-md text-yellow-600"><%= @user.s_name %></th>
					<td align="right">
						<%= link_to "/users/" + @user.id.to_s + "/edit", data: {"turbo-frame": "modal" } do %>
							<%= render "shared/edit" %>
						<% end %>
					</td>
				</tr>
			</div>
			<div id="user-show-data">
				<tr>
					<td class="inline-flex">
						<% if @user.admin? %>
							<%= image_tag "key.svg", size: "36x36", alt: "Admin."  %>
						<% end %>
						<% if @user.is_coach? %>
							<%= image_tag "coach.svg", size: "36x36", alt: "Ent."  %>
						<% end %>
						<% if @user.is_player? %>
							<%= image_tag "player.svg", size: "36x36", alt: "Jug."  %>
						<% end %>
					</td>
				</tr>
				<% if @user.teams %>
					<tr>
						<td colspan="3" align="center" class="border px py text-white bg-blue-900"><strong>Equipos</strong></td>
					</tr>
					<% @user.teams.each do |team| %>
						<tr>
							<td colspan="3" class="border px py hover:text-white hover:bg-blue-700"><%= link_to team.to_s, team %></td>
						</tr>
					<% end %>
				<% end %>
			</div>
	</table>
<% end %>
