<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<table>
		<tr>
			<th colspan="3" class="text-blue-900"><%= I18n.t("password.forgotten") %></th>
		</tr>
		<tr>
			<td colspan="2">
				<%= render "devise/shared/error_messages", resource: resource %>
			</td>
		</tr>
		<tr>
			<td class="p-1 items-center">
				<%= render SymbolComponent.new("email") %>
			</td>
			<td>
				<%= f.email_field :email, autofocus: true, placeholder: I18n.t("person.email"), autocomplete: "email", class: "rounded border shadow-inner p-0" %>
			</td>
			<td>
				<%= render ButtonComponent.new(kind: :login, title: I18n.t("password.reset"))%>
			</td>
		</tr>
	<% end %>
</table>
</div>