<% close_return = local_assigns.fetch(:close_return, nil) %>
<button class="extended-modal-close rounded-lg font-bold text-red-700 hover:bg-red-200" data-action="click->extended-modal#close">
  <% if close_return %>
    <%= link_to close_return, class: "inline-flex align-middle" do %>
      <%= image_tag "close.svg", class: "max-h-7 min-h-5" %>
      <%= t(:m_close) %>
    <% end %>
  <% else %>
    <div class="inline-flex align-middle">
      <%= image_tag "close.svg", class: "max-h-7 min-h-5" %>
      <%= t(:m_close) %>
    </div>
  <% end %>
</button>
