<div id="generic-index">
	<%= render @title if @title %>
	<%= render @fields if @fields %>
	<% if @table %>
		<%= turbo_frame_tag "search-results" do %>
			<%= render @table %>
			<%= paginate @page if @page %>
		<% end %>
	<% end %>
	<%= render @submit if @submit %>
</div>