<div id="import-export">
  <div id="export">
    <%= link_to export_path do %>
      <div class="inline-flex rounded-lg font-bold text-green-700 hover:bg-green-200">
        <%= t(:m_export) %>
        <%= image_tag "export.svg", class: "align-top max-h-7 min-h-5" %>
      </div>
    <% end %>
  </div>
  <div id="import" class="mt-3">
    <%= form_with url: import_path, local: true do |form| %>
      <%= form.file_field :file %>
      <br>
      <div class="actions inline-flex rounded-lg font-bold text-green-700 hover:bg-green-200 align-middle">
        <%= t(:m_import) %>
        <%= image_submit_tag "import.svg", class: "save_button align-middle max-h-7 min-h-5", data: { confirm: t(:q_import) } %>
      </div>
    <% end %>
  </div>
</div>
