<div class="nested-form-wrapper" data-new-record="<%= form.object.new_record? %>">
	<tr>
    <% if form.object.new_record? %>
		<div>
      <td>
        <%= form.collection_select :id, @eligible_locations, :id, :name %>
      </td>
      <td align="center" class="rounded border px py"></td>
      <td align="center" class="rounded border px py"></td>
    <% else %>
      <td class="rounded border px py">
        <%= form.object.name %>
      </td>
      <td align="center" class="rounded border px py">
        <%= image_tag(form.object.practice_court ? "training.svg" : "team.svg", size: "20x20") %>
      </td><td align="center" class="rounded border px py">
        <%= form.object.gmaps_url ? image_tag("gmaps.svg", size: "20x20") : "" %>
      </td>
    <% end %>
      <td>
			   <button type="button" class="object-left-bottom" data-action="nested-form#remove">
				    <%= render "shared/remove" %>
			   </button>
		  </td>
		</div>
  </tr>
	<%= form.hidden_field :_destroy %>
</div>
