<div class="flow-root mt-3">
  <% close_return = local_assigns.fetch(:close_return, nil) %>
  <% save = local_assigns.fetch(:save, nil) %>
  <div class="float-left inline-flex rounded-lg font-bold text-red-700 hover:bg-red-200 align-middle">
    <% if close_return %>
      <%= link_to close_return do %>
        <%= image_tag "close.svg", class: "extended-modal-close max-h-7 min-h-5", "data-action": "click->extended-modal#close" %>
        <%= t(:m_close) %>
      <% end %>
    <% else %>
      <%= image_submit_tag "close.svg", class: "extended-modal-close max-h-7 min-h-5", "data-action": "click->extended-modal#close" %>
      <%= t(:m_close) %>
    <% end %>
  </div>
  <% if save %>
    <div class="float-right inline-flex rounded-lg font-bold text-green-700 hover:bg-green-200 align-middle">
      <%= t(:m_save) %>
      <%= image_submit_tag "save.svg", class: "save_button max-h-7 min-h-5", data: {confirm: t(:q_save_chng)} %>
    </div>
  <% end %>
</div>
