<div class="flow-root mt-3">
  <% close_return = local_assigns.fetch(:close_return, nil) %>
  <% save = local_assigns.fetch(:save, nil) %>
  <div class="float-left">
    <button class="extended-modal-close inline-flex rounded-lg font-bold text-red-700 hover:bg-red-200 align-middle" data-action="click->extended-modal#close">
      <% if close_return %>
        <%= link_to close_return, class: "inline-flex" do %>
          <%= image_tag "close.svg", class: "max-h-7 min-h-5" %>
          <%= t(:m_close) %>
        <% end %>
      <% else %>
        <%= image_tag "close.svg", class: "max-h-7 min-h-5"%>
        <%= t(:m_close) %>
      <% end %>
    </button>
  </div>
  <% if save %>
    <div class="float-right">
      <button class="save-button inline-flex rounded-lg font-bold text-green-700 hover:bg-green-200 align-middle" data-confirm="<%= t(:q_save_chng) %>">
        <%= t(:m_save) %>
        <%= image_tag "save.svg", class: "save_button max-h-7 min-h-5" %>
      </button>
    </div>
  <% end %>
</div>
