<% if current_user.present? %>
	<div id="home-logged-in">
		<%= render "shared/g_index" %>
	</div>
<% else %>
	<div id="home-logged-out" class="align-middle">
		<table>
			<tr>
				<td align="center"><%= render SymbolComponent.new("user", size: "30x30") %><%= t("status.closed") %></td>
				<td align="left">
					<%= link_to new_user_session_path, data: {turbo_frame: "_top"} do %>
						<%= render SymbolComponent.new(concept:"login", type: "button", css: "login_button rounded bg-blue-900 hover:bg-blue-700 max-h-8 min-h-6", alt: t("action.login")) %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
<% end %>
