<div id="edit-task-form">
	<table>
		<tr>
			<td rowspan="2" align="center"><%= image_tag("drill.svg", size: "50x50") %></td>
			<th colspan="2" align="left" class="text-indigo-900"><%= title %></th>
		</tr><tr>
			<div id="search-drills" class="inline-flex rounded border">
			<td colspan="2">
					<%= form_with(url: search_in, value: params[:search], method: 'get', data: {turbo_frame: "_top"}) do |f| %>
						<%= text_field_tag :search, params[:search], size: 16, class: "text-gray-700 rounded border shadow-inner" %>
						<%= f.hidden_field :task_id, value: @task.id %>
						<%= image_submit_tag "search.svg", height: 25, class: "search_button align-middle", alt: t(:m_search) %>
					<% end %>
			</td>
		</div>
		</tr>
	</table>
	<%= form_with model: @event, authenticity_token: true, data: {turbo_frame: "_top" } do |form| %>
		<table>
			<tr class="bg-indigo-900 text-gray-300 align-center border px py">
				<td class="border px py"><%= t(:a_num) %></td>
				<td class="border px py"><%= t(:l_drill_show) %></td>
				<td class="border px py"><%= t(:a_dur) %></td>
			</tr><tr>
				<%= form.fields_for @task do |f| %>
				<div id="drill-selection">
					<td align="right"><%= f.number_field :order, value: @task.order, size: 2 , class: "text-right form-control rounded border shadow-inner"%></td>
					<td align="left"><%= f.collection_select :drill_id, @drills, :id, :nice_string, selected: @task.drill_id, class: "form-control rounded border shadow-inner"%></td>
					<td align="right"><%= f.number_field :duration, value: @task.duration, size: 2 , class: "text-right form-control rounded border shadow-inner"%></td>
					<%= f.hidden_field :id %>
					<%= f.hidden_field :order %>
				</div>
				<% end %>
			</tr>
		</table>
		<%= render "shared/modal_bottom", save: true %>
	<% end %>
</div>
