<table>
  <tr>
    <td align="center"><%= image_tag("training.svg", size: "30x30") %></td>
    <th colspan="3" align="left" class="text-indigo-900"><%= label %></th>
  </tr><tr>
    <th rowspan="2" align="right" class="align-center text-indigo-900">Obj.</th>
    <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py">Def.</th>
    <td align="left" class="align-top border px py">
      <%= render "targets_form", form: form, event_targets: @event.def_targets, aspect: 0, focus: 2 %>
    </td>
    <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py">Dur.</th>
  </tr><tr>
    <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py">Ofe.</th>
    <td align="left" class="align-top border px py">
      <%= render "targets_form", form: form, event_targets: @event.off_targets, aspect: 0, focus: 1 %>
    </td>
    <th align="center" class="border px py">
      <%= form.number_field :duration, value: @event.duration, size: 2 , class: "text-right form-control rounded border shadow-inner"%>
    </th>
  </tr><tr>
    <td colspan="4"><br></td>
  </tr><tr>
    <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py">#</th>
    <th colspan="2" align="left" class="bg-indigo-900 text-gray-300 align-center border px py">Tarea</th>
    <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py">Min.</th>
  </tr>
  <%= form.fields_for :tasks do |event_task| %>
    <%= render 'task_row', form: event_task %>
  <% end %>
</table>
