<table>
  <tr>
    <th rowspan="2" align="right" class="align-center text-indigo-900"><%= t(:a_targ) %></th>
    <%= render "targets_form", form: form, event_targets: @event.def_targets, aspect: 0, focus: 2, label: t(:a_def) %>
    <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:a_dur) %></th>
  </tr><tr>
    <%= render "targets_form", form: form, event_targets: @event.off_targets, aspect: 0, focus: 1, label: t(:a_off) %>
    <th align="center" class="border px py">
      <%= form.number_field :duration, value: @event.duration, size: 2 , class: "text-right form-control rounded border shadow-inner"%>
    </th>
  </tr><tr>
    <td colspan="4"><br></td>
  </tr>
  <% if @event.id # only allow editing tasks if we're not creating it from scratch %>
    <tr>
      <td></td>
      <th colspan="3" align="left" class="text-indigo-900 align-center"><%= t(:l_task_index) %></th>
    </tr><tr>
      <td></td>
      <%= render "tasks_form", form: form, tasks: @event.tasks.order(:order) %>
      <tr>
        <td></td>
        <td colspan="2" align="left">
          <% if current_user.admin? or @event.team.has_coach(current_user.person.coach_id)  %>
            <%= render ButtonComponent.new(button: {kind: "add", label: t(:l_task_add), url: add_task_event_path, turbo: "modal"}) %>
          <% end %>
        </td>
        <th align="left"><%= t(:a_total) + " " + @event.work_duration %></th>
    </tr>
  <% end %>
  <%= form.hidden_field :name %>
</table>
