<div id="edit-task-form">
	<%= render @title %>
	<%= render @search %>
	<%= form_with model: @event, authenticity_token: true, data: {turbo_frame: "_top"} do |form| %>
		<%= form.fields_for @task do |f| %>
			<%= turbo_frame_tag "search-results" do %>
				<% @fields.form = f %>
				<%= render @fields %>
			<% end %>
			<turbo-frame id="<%=f.field_id(:drill_id, :turbo_frame)%>" class="contents">
				<%= render "drill_description" %>
			</turbo-frame>
			<% @remarks.form = f %>
			<%= render @remarks if @drill %>
		<% end %>
		<%= render @submit %>
	<% end %>
</div>
