<%= render ModalComponent.new do %>
	<div id="edit-task-form">
		<%= render FieldsComponent.new(fields: @title) %>
		<%= form_with model: @event, authenticity_token: true, data: {turbo_frame: "_top"} do |form| %>
			<table>
				<tr class="bg-indigo-900 text-gray-300 align-center border px py">
					<td class="border px py"><%= t(:a_num) %></td>
					<td class="border px py"><%= t(:l_drill_show) %></td>
					<td class="border px py"><%= t(:a_dur) %></td>
				</tr><tr>
					<%= form.fields_for @task do |f| %>
					<div id="drill-selection">
						<td align="right"><%= f.number_field :order, value: @task.order, size: 2 , class: "text-right form-control rounded border shadow-inner"%></td>
						<td align="left"><%= f.collection_select :drill_id, @drills, :id, :nice_string, selected: @task.drill_id, class: "form-control rounded border shadow-inner"%></td>
						<td align="right"><%= f.number_field :duration, value: @task.duration, size: 2 , class: "text-right form-control rounded border shadow-inner"%></td>
						<%= f.hidden_field :id %>
						<%= f.hidden_field :order %>
					</div>
					<% end %>
				</tr>
			</table>
			<%= render SubmitComponent.new(submit: "save") %>
		<% end %>
	</div>
<% end %>
