<%#= render ModalComponent.new do %>
	<div id="edit-task-form">
		<%= render FieldsComponent.new(fields: @title) %>
		<%= render FieldsComponent.new(fields: @search) %>
		<%= turbo_frame_tag "search-results" do %>
			<%= form_with model: @event, authenticity_token: true, data: {turbo_frame: "_top"} do |form| %>
				<%= form.fields_for @task do |f| %>
					<%= render FieldsComponent.new(fields: @fields, form: f) %>
					<%= render FieldsComponent.new(fields: @remarks, form: f) %>
				<% end %>
				<%= render SubmitComponent.new(submit: "save", modal: false, close_return: :back, turbo: "_top") %>
			<% end %>
		<% end %>
	</div>
<%# end %>
