<div id="event-show-header">
  <table>
    <tr>
      <th rowspan="2">
        <%= image_tag(@event.pic, size: "50x50") %>
      </th>
      <th align="left" class="align-top rounded-md text-yellow-600">
        <%= title %>
      </th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th align="right" class="inline-flex"><%= image_tag("calendar.svg", size: "25x25") %>&nbsp;<%= @event.date_string %></th>
    </tr><tr>
      <% if @event.holiday? %>
        <th><%= @event.name %></th>
      <% else %>
        <th align="left">
          <% if @event.match? and @event.location.gmaps_url %>
            <button>
              <%= link_to @event.location.gmaps_url, target: '_blank', class: "inline-flex rounded-lg font-bold hover:bg-blue-100" do %>
                <%= image_tag("gmaps.svg", size: "25x25") %>
                <small><%= @event.location.name %></small>
              <% end %>
            </button>
          <% else %>
            <%= t(:l_train) %>
          <% end %>
        </th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th align="right" class="inline-flex"><%= image_tag("clock.svg", size: "25x25") %>&nbsp;<%= @event.time_string %></th>
      <% end %>
    </tr>
  </table>
</div>
<br>
