<%= form_with model: event, authenticity_token: true, data: event_form_data_options(event, title) do |form| %>
	<% @mtitle.form = mtitle %>
	<%= render @mtitle %>
	<% if @event.id || @event.train?%>
		<div id="edit-event-data">
			<%= render('edit_session', form: form, title: title) if @event.train? %>
			<% if @fields %>
				<%= form.fields_for :stats, Stat.new do |ff| %>
					<% @fields.form = ff %>
					<%= render @fields %>
					<% if @table %>
						<% @table.form = ff %>
						<%= render @table %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<% elsif @fields # a new match to create %>
		<div id="new-match-data">
			<% @fields.form = form %>
			<%= render @fields %>
		</div>
	<% end %>
	<%= hidden_field_tag :retlnk, @retlnk %>
	<%= render @submit %>
<% end %>
