<%= form_with model: event, authenticity_token: true, data: {title: title, turbo_frame: "_top"} do |form| %>
	<% @title.form = form %>
	<%= render @title %>
	<% if @event.id || @event.train?%>
		<div id="edit-event-data">
			<%= render('edit_session', form: form, title: title) if @event.train? %>
			<% if @fields %>
				<% done = false %>
				<%= form.fields_for :stats do |f| %>
					<% unless done %>
						<% @fields.form = f %>
						<%= render @fields %>
						<% done = true %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<% elsif @fields # a new match to create %>
		<div id="new-match-data">
			<% @fields.form = form %>
			<%= render @fields %>
		</div>
	<% end %>
	<%= render @submit %>
<% end %>
