<% if form.object %>
	<% f_cls = "rounded shadow-inner border-indigo-100 bg-gray-50 focus:ring-blue-700 focus:border-blue-700 py-0 px-0 m-1 align-middle" %>
	<div class="float-left">
		<%= form.hidden_field :drill_id %>
		<%= form.object.drill.nice_string %>
	</div>
	<div class="float-right">
		<%= form.number_field :duration, value: form.object.duration, min: 1, max: 90, size: 3, class: f_cls + " px-0 text-right", style: "background-color: transparent; border: indigo-100;" %>
		<%= render ButtonComponent.new(button: { kind: 'edit', align: "right", url: edit_task_event_path(task_id: form.object.id) }) %>
		<%= render ButtonComponent.new(button: { kind: 'remove', action: 'click->sortable#remove', frame: 'sortable-list', data: {target: 'sortable.item', id: form.object.id ,prevent_default: true} }) %>
	</div>
<% end %>
