<%= render "session_header", label: t(:l_train) %>
<tr>
  <td colspan="4"><br></td>
</tr><tr>
  <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:a_num) %></th>
  <th colspan="2" align="left" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:l_task_show) %></th>
  <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:a_min) %></th>
</tr>
<% @event.tasks.order(:order).each do |task| %>
  <tr class="align-top hover:text-white hover:bg-blue-700">
    <td align="center" class="border px py"><%= link_to task.order.to_s, show_task_event_path(task_id: task.id), data: {turbo_frame: "modal"} %></td>
    <td align="left" class="border px py" colspan="2"><%= link_to task.to_s, show_task_event_path(task_id: task.id), data: {turbo_frame: "modal"} %></td>
    <td align="right" class="border px py"><%= link_to task.duration.to_s + "\'", show_task_event_path(task_id: task.id), data: {turbo_frame: "modal"} %></td>
  </tr>
<% end %>
<tr>
  <td colspan="2"></td>
  <th align="right">Total:</th>
  <th align="right"><%= @event.work_duration %></th>
</tr>
