<tr>
  <th colspan="3" align="left">Entrenamiento</th>
</tr><tr>
  <th rowspan="2" align="right" class="align-center text-indigo-900">Obj.</th>
  <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py">Defensa</th>
  <td align="left" class="align-top border px py">
    <% event.def_targets.each do |d_t| %>
      <%= d_t.to_s %>
      <br>
    <% end %>
  </td>
  <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py">Dur.</th>
</tr><tr>
  <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py">Defensa</th>
  <td align="left" class="align-top border px py">
    <% event.off_targets.each do |o_t| %>
      <%= o_t.to_s %>
      <br>
    <% end %>
  </td>
  <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py">
    <%= event.duration.to_s + " \'" %>
  </th>
</tr><tr>
  <td colspan="4"><br></td>
</tr><tr>
  <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py">#</th>
  <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py">Tarea</th>
  <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py">Min.</th>
</tr>
<% event.tasks.each do |task| %>
<tr>
  <td align="right" class="align-top border px py"><%= task.order.to_s %></td>
  <td align="left" class="align-top border px py"><%= task.to_s %></td>
  <td align="right" class="align-top border px py"><%= task.duration.to_s + " \'" %></td>
</tr>
<% end %>
