<div id="events-index">
	<div id="events-header">
    <table>
      <tr>
        <th rowspan="2">
          <%= image_tag("calendar.svg", size: "50x50") %>
        </th><th align="left" class="align-top rounded-md text-yellow-600">
          <%= t(:l_cal)%>
        </th>
      </tr><tr>
        <th align="left"><%= @team ? @team.name : (@season ? @season.name : " ") %><th>
			</tr>
		</table>
	</div>
	<div id="events-grid">
		<table class="table-auto">
		  <thead>
				<tr>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:h_date) %></th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:h_time) %></th>
				  <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:l_team_show) %></th>
				  <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:h_desc) %></th>
					<% if current_user.admin? %>
						<%= render "new_event_button" %>
					<% end %>
				</tr>
		  </thead>
		  <tbody>
        <% @events.each do |event| %>
					<%= render "event_row", event: event, short: false %>
				<% end %>
		  </tbody>
		</table>
	</div>
</div>
