<div id="events-index">
	<%= render FieldsComponent.new(fields: @header_fields) %>
	<div id="events-grid">
		<table class="table-auto">
		  <thead>
				<tr>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:h_date) %></th>
				  <th align="center" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:h_time) %></th>
				  <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:l_team_show) %></th>
				  <th align="left" class="bg-indigo-900 text-gray-300 align-center border px py"><%= t(:h_desc) %></th>
					<% if current_user.admin? %>
						<%= render "new_event_button" %>
					<% end %>
				</tr>
		  </thead>
		  <tbody>
        <% @events.each do |event| %>
					<%= render "event_row", event: event, short: false %>
				<% end %>
		  </tbody>
		</table>
	</div>
</div>
