<div id="event-show">
	<% unless @event.rest? %>
		<% if @title %>
		<div id="event-show-title">
			<%= render @title %>
		</div>
		<% end %>
		<div id="event-show-fields">
			<%= render @targets if @targets %>
			<%= render @fields %>
		</div>
		<% if @grid %>
		<div id="event-show-fields">
			<%= render @grid %>
		</div>
		<% end %>
		<% if @submit %>
		<div id="event-show-submit">
			<%= render @submit %>
		</div>
		<% end %>
	<% else %>
		<%= render ModalComponent.new do %>
			<div id="event-show-title">
				<%= render @title %>
			</div>
			<div id="event-show-submit">
				<%= render @submit %>
			</div>
		<% end %>
	<% end %>
</div>