<% if @event.train? %>
	<div id="event-show">
		<%= render "event_header", title: @event.team.to_s %>
		<div id="event-show-data">
			<table>
				<%= render "view_session" %>
			</table>
		</div>
	</div>
<% else %>
	<%= render "shared/modal", simple: true, edit: (current_user.admin? or @event.team.has_coach(current_user.coach_id)) ? edit_event_path : nil do %>
		<div id="event-show">
			<%= render "event_header", title: t(:l_match) %>
			<div id="event-show-data">
				<table>
	        <%= render "view_match" %>
				</table>
			</div>
		</div>
	<% end %>
<% end %>
