<div id="event-show">
	<% unless @event.rest? %>
		<div id="event-show-title">
			<%= render @title if @title%>
		</div>
		<div id="event-show-fields">
			<%= render @fields %>
		</div>
		<div id="event-show-fields">
			<%= render @grid if @grid %>
		</div>
		<div id="event-show-submit">
			<%= render @submit if @submit%></td>
		</div>
	<% else %>
		<%= render ModalComponent.new do %>
			<div id="event-show-title">
				<%= render @title %>
			</div>
			<div id="event-show-submit">
				<%= render @submit %>
			</div>
		<% end %>
	<% end %>
</div>