<div id="drills-header">
	<% form = local_assigns.fetch(:form, nil) %>
	<table>
		<tr>
			<th rowspan="2" class="align-top justify-center">
				<%= image_tag "drill.svg", size: "50x50" %>
			</th>
			<% if title==t(:l_drill_show) %>
				<th align="left" class="text-yellow-600">
					<%= title %></th>
				<td align="left">
					<%= " (" + @drill.kind.name + ")" %>
				</td>
			</tr><tr>
				<th align="left" class="align-top">
					<%= t(:l_targ) %>
				</th><td align="left">
					<% @drill.drill_targets.each do |d_t| %>
						<%= d_t.to_s %>
						<br>
					<% end %>
				</td>
			<% else %>
				<th colspan="2" align="left" class="align-top text-yellow-600"><%= title %></th>
			<% end %>
		</tr><tr>
			<% if form %>
				<td align="left">
					<%= form.text_field :name, size: 20, rows: 2, class: "rounded border shadow-inner" %>
				</td>
				<th align="left"><%= t(:l_kind) %></th>
				<td>
					<div class="field"><%= form.collection_select :kind_id, Kind.all, :id, :name %></div>
				</td>
			<% elsif title == t(:l_drill_index) %>
				<%= render "shared/text_search", search_in: drills_path %>
			<% end %>
		</tr>
	</table>
</div>
