<%= form_with model: drill, remote: true, authenticity_token: true, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>
	<% if drill.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(drill.errors.count, "error") %> prohibited this drill from being saved:</h2>

			<ul>
				<% drill.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<table>
		<tr>
			<td rowspan="3" colspan="2" align="center">
				<%= image_tag("drill.png", :size => "100x100") %>
			</td>
			<td align="right"><strong>Nombre</strong></td>
			<td><%= form.text_field :name, size: 20, rows: 2, class: "rounded border shadow-inner" %></td>
		</tr><tr>
			<td align="right"><strong>Descripci&oacute;n</strong></td>
			<td><%= form.text_area :description, cols: 40, rows: 1, class: "rounded border shadow-inner" %></td>
		</tr><tr>
			<td align="right"><strong>Material</strong></td>
			<td><%= form.text_area :material, cols: 40, rows: 1, class: "rounded border shadow-inner" %></td>
		</tr><tr>
			<td align="right"><strong>Autor</strong></td>
			<td><div class="field"><%= form.collection_select :coach_id, Coach.real, :id, :s_name, {selected: current_user.person.coach_id} %></div></td>
			<td align="right"><strong>Tipo</strong></td>
			<td><div class="field"><%= form.collection_select :kind_id, Kind.all, :id, :name %></div></td>
		</tr><tr>
			<td align="right" class="align-top"><strong>Explicaci&oacute;n:</strong></td>
			<td colspan="3"><%= form.rich_text_area :explanation, class: "rounded border shadow-inner" %></td>
		</tr><tr>
			<td align="right" class="align-top"><strong>Fundamentos:</strong></td>
			<td>
				<template data-nested-form-target="template">
					<%= form.fields_for :skills, Drill.new, child_index: 'NEW_RECORD' do |skill_fields| %>
						<%= render 'skill_form', form: skill_fields %>
					<% end %>
				</template>
				<%= form.fields_for :skills do |skill_fields| %>
					<%= render 'skill_form', form: skill_fields %>
				<% end %>
				<div data-nested-form-target="target"></div>
				<button type="button" data-action="nested-form#add"><%= render "shared/add" %></button>
			</td>
		</tr>
	</table>
	<%= render "shared/save" %>
<% end %>
