<%= form_with model: @drill, authenticity_token: true, data: {controller: "mandatory-fields", turbo_frame: "_top"} do |form| %>
	<% @title.form    = form %>
	<% @playbook.form = form %>
	<% @formdata.form = form %>
	<% @formsteps.form = form %>
	<% @formtail.form = form %>
	<%= render @title %>
	<%= render @playbook %>
	<%= render @formdata %>
	<%= render @formsteps %>
	<%= render @formtail %>
	<%= render @submit %>
	<datalist id="skill_list">
		<% Skill.list.each do |opt| %>
		<option><%=opt%></option>
		<% end %>
	</datalist>
<% end %>
