<%= form_with(model: drill) do |form| %>
  <% if drill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drill.errors.count, "error") %> prohibited this drill from being saved:</h2>

      <ul>
        <% drill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.text_field :material %>
  </div>

  <div class="field">
    <%= form.label :coach_id %>
    <%= form.text_field :coach_id %>
  </div>

  <div class="field">
    <%= form.label :kind_id %>
    <%= form.text_field :kind_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
