<%= form_with model: @drill, authenticity_token: true, data: {turbo_frame: "_top"} do |form| %>
  <% @topbar.form   = form %>
  <% @playbook.form = form %>
  <% @formdata.form = form %>
  <% @explain.form  = form %>
  <% @formtail.form = form %>
  <%= render @playbook %>
  <%= render @formdata %>
  <%= render @explain %>
  <%= render @formtail %>
  <%= render @submit %>
  <datalist id="skill_list">
    <% Skill.list.each do |opt| %>
    <option><%=opt%></option>
    <% end %>
  </datalist>
<% end %>
