<% if form.object %>
	<% step = form.object %>
	<% icls = "rounded border-gray-200" %>
	<div class="inline-flex w-full space-x-4 items-start">
		<!-- 1. Step order -->
		<div class="w-8 text-right font-semibold flex-shrink-0">
			<%= step.order %>
		</div>
		
		<!-- 2. Hidden fields to process steps -->
		<%= form.hidden_field :id, value: step.id %>

		<!-- 3. Diagram can be a PNG or inline SVG -->
		<div class="relative w-1/3 group <%= icls %>">
			<% if step.diagram.attached? %>		
				<!-- 3a. Show attached diagram if it is available -->
			 	<%= render InputBoxComponent.new({kind: :image_box, value: step.diagram, width: "full", height: "auto"}, form:) %>
			<% else %>
				<!-- 3b. No attachment, load SVG canvas and possible :svg_diagram content -->
				<div class="w-full flex text-gray-400 m-1">
					<%= render DiagramComponent.new(court: @court, svgdata: step.svgdata) %>
					<div class="overlay rounded absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 flex justify-center items-center" >
						<%= link_to edit_diagram_drill_path(step_id: step&.id&.to_i, order: step&.order&.to_i), title: I18n.t("step.edit_diagram"), data: {turbo_frame: "modal"} do %>
							<%= image_tag("edit.svg", size: "50x50")  %>
						<% end %>
						<% unless step.svgdata.present? %>
							<%= link_to load_diagram_drill_path(step_id: step&.id&.to_i, order: step&.order&.to_i), title: I18n.t("step.load_diagram"), data: {turbo_frame: "modal"} do %>
								<%= image_tag("add.svg", size: "50x50")  %>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>

		<!-- 5. Explanation -->
		<div class="<%= icls %>">
			<%= render InputBoxComponent.new({kind: :rich_text_area, key: :explanation}, form:) %>
		</div>
	</div>
<% end %>
