<% if form.object %>
	<% n_p    = form.object.order ? form.object.order : @drill.steps.count + 1 %>
	<% id_btn = "step-#{n_p}-diagram-btn" %>
	<% id_fld = "step-#{n_p}-diagram" %>
	<% f_cls  = "rounded shadow-inner border-gray-200 bg-gray-50 focus:ring-blue-700 focus:border-blue-700 py-0" %>
	<div class="<%=f_cls%> inline-flex">
		<%= form.number_field :order, value: n_p, class: f_cls + " px-0 text-right", min: 1, max: 10, size: 2, step:1 %>
		<% if form.object.diagram.attached? %>
		<div>
			<%= image_tag form.object.diagram_attachment, class: "max-h-[20%] max-w-[20%]" %>
		</div>
		<% else %>
		<div id="<%=id_fld%>" class="<%=f_cls + ' px-1'%>">
			<%= form.file_field :diagram, id: id_btn, direct_upload: true, class: "hidden" %>
			<label for="<%=id_btn%>" class="<%=f_cls%> inline-flex align-center">
				<%= image_tag("drill.svg", size: "25x25")%>
			</label>
			<span class="px mb-1 text-sm text-gray-500"><%=form.object.diagram.attached? ? form.object.diagram : t("status.no_file") %></span>
		</div>
		<% end %>
		<div>
			<%= form.rich_text_area :description, placeholder: t("drill.desc"), class: f_cls + " px-1", size: 80, rows: 3 %>
		</div>
	</div>
<% end %>
