<% if form.object %>
	<div class="nested-form-wrapper" data-new-record="<%= form.object.new_record? %>">
		<div class="inline-flex">
			<%= form.number_field :priority, value: form.object.priority, class: 'text-right form-control rounded border shadow-inner py-0 px-1 bg-gray-50', min: 1, max: 5, step:1 %>
			<%= form.fields_for :target do |f| %>
				<% form.object.build_target if form.object.new_record? %>
				<%= f.select :aspect, options_for_select(Target.aspects, f.object.aspect ? f.object.aspect_before_type_cast : 0) %>
				<%= f.select :focus, options_for_select(Target.kinds, f.object.focus ? f.object.focus_before_type_cast : 0) %>
				<%= f.text_field :concept, placeholder: t(:d_target), class: 'form-control rounded border shadow-inner py-0 px-1 bg-gray-50', size: 20 %>
			<% end %>
			<%= render ButtonComponent.new(button: {kind: "remove"}) %>
		</div>
		<%= form.hidden_field :_destroy %>
	</div>
<% end %>
