<div>
	<div>
		<%= render @title %>
	</div>
	<div>
		<%= form_with model: @drill,
			authenticity_token: true,
			url: update_diagram_drill_path(@drill, step_id: @step.id),
			method: :patch,
			local: true,
			data: {controller: "diagram-editor", diagram_target: "form", action: "submit->diagram-editor#serialize"} do |form| %>
		<% @editor.form = form %>
		<%= render @editor %>
	</div>
	<%= form.hidden_field(:step_id, value:@step&.id) %>
	<%= render @submit %>
<% end %>
