<p id="notice"><%= notice %></p>

<h1>Drills</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Material</th>
      <th>Coach</th>
      <th>Kind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drills.each do |drill| %>
      <tr>
        <td><%= drill.name %></td>
        <td><%= drill.description %></td>
        <td><%= drill.material %></td>
        <td><%= drill.coach_id %></td>
        <td><%= drill.kind_id %></td>
        <td><%= link_to 'Show', drill %></td>
        <td><%= link_to 'Edit', edit_drill_path(drill) %></td>
        <td><%= link_to 'Destroy', drill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drill', new_drill_path %>
