<div id="drills-index">
	<div id="drills-header">
		<table>
			<th class="inline-flex items-center justify-center p-2 rounded-md text-yellow-600">
				<%= image_tag "drill.png", size: "50x50" %>Ejercicios&nbsp;
				<div id="search-drills" class="inline-flex rounded border">
					<%= form_with(url: '/drills', method: 'get', local: true) do %>
						<%= text_field_tag :search, "", size: 16, class: "text-gray-700 rounded border shadow-inner" %>
						<%= image_submit_tag "search.png", height: 25, class: "search_button align-middle", alt: "Buscar" %>
					<% end %>
				</div>
			</th>
		</table>
	</div>

	<div id="drills-grid">
		<table class="table-auto border-separate">
			<thead>
				<tr>
					<th class="bg-indigo-900 text-gray-300 align-center">Nombre</th>
					<th class="bg-indigo-900 text-gray-300 align-center">Tipo</th>
					<th class="bg-indigo-900 text-gray-300 align-center">Descripción</th>
					<th class="bg-indigo-900 text-gray-300 align-center">Fundamentos</th>
					<th>
						<%= link_to new_drill_path, data: {"turbo-frame": "modal" } do %>
							<%= render "shared/add" %>
						<% end %>
					</th>
				</tr>
			</thead>

			<tbody>
				<% @drills.each do |drill| %>
					<tr>
						<td class="border px py hover:text-white hover:bg-blue-700"><%= link_to drill.name, drill, data: {"turbo-frame": "modal" } %></td>
						<td class="border px py"><%= drill.kind.name %></td>
						<td class="border px py"><%= drill.description %></td>
						<td class="border px py"><%= drill.print_skills %></td>
						<td>
							<%= link_to drill, method: :delete, data: { confirm: "¿Borrar '#{drill.name}'" } do %>
								<%= render "shared/delete" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
