<%= render ModalComponent.new do %>
	<%= render @fields %>
	<%= form_with model: @drill,
				authenticity_token: true,
				class: "w-auto h-auto",
				url: update_diagram_drill_path(@drill, step_id: @step.id),
				method: :patch,
				local: true do |form| %>
		<% @loader.form = form %>
		<%= render @loader %>
		<%= render @submit %>
	<% end %>
	</div>
<% end %>
