<div id="drills-show">
	<%= render @title %>
	<%= render @intro %>
	<%= render @steps %>
	<%= render @tail %>
	<%= render ButtonComponent.new(button: {kind: "export", url: drill_path(format: :xlsx)}) %>
	<%= render @submit %>
</div>
