<%= render "shared/modal", simple: true do %>
	<div id="drills-show">
		<table>
			<div id="drills-show-header">
				<tr>
					<th rowspan="2" align="center" class="align-top">
						<%= image_tag("drill.svg", size: "50x50") %>
					</th>
					<td colspan="3" align="left">
						<strong class="text-yellow-600"><%= @drill.name %></strong>
						<%= " (" + @drill.kind.name + ")" %>
					</td>
				</tr><tr>
					<th align="left" class="align-top">
						<%= t(:h_targ) %>
					</th><td colspan="2" align="left">
						<% @drill.drill_targets.each do |d_t| %>
							<%= d_t.to_s %>
							<br>
						<% end %>
					</td>
			</tr>
		<table>
	</div>
	<div id="drills-show-content">
		<table>
			<tr>
				<th align="right"><%= t(:l_mat) %></th>
				<td colspan="3" align="left"><%= @drill.material %></td>
			</tr><tr>
				<th align="right" class="align-top"><%= t(:l_desc) %></th>
				<td colspan="3" align="left"><%= @drill.description %></td>
			</tr><tr>
				<th colspan="3" align="left" class="align-top">
					<%= t(:l_expl) %>
				</th>
				<% if @drill.playbook.attached? %>
				<td align="right" class="inline-flex rounded-md hover:bg-yellow-300">
					<%= link_to rails_blob_path(@drill.playbook, disposition: "attachment") do %>
						<%= image_tag("playbook.png", size: "25x25") %>
					<% end %>
				</td>
				<% end %>
			</tr><tr>
				<td colspan="4" class="rounded-md border"><%= @drill.explanation %></td>
			</tr><tr>
				<th align="right" class="align-top"><%= t(:l_skill) %></th>
				<td colspan="3"><%= @drill.print_skills %></td>
			</tr><tr>
				<th align="right"><%= t(:l_auth) %></th>
				<td colspan="2" align="left"><%= @drill.coach.s_name %></td>
				<% if current_user.admin? or (@drill.coach_id==current_user.person.coach_id) %>
					<td align="right">
						<%= link_to edit_drill_path(@drill), data: {turbo_frame: "modal"} do %>
							<%= render "shared/edit" %>
						<% end %>
					</td>
				<% end %>
			</tr>
		</table>
	</div>
<% end %>
