<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drill.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @drill.description %>
</p>

<p>
  <strong>Material:</strong>
  <%= @drill.material %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @drill.coach_id %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @drill.kind_id %>
</p>

<%= link_to 'Edit', edit_drill_path(@drill) %> |
<%= link_to 'Back', drills_path %>
