<%= render "shared/modal", simple: true do %>
	<div id="drills-show">
	<%= render "drills_header", label: t(:l_drill_show) %>
	<div id="drills-show-content">
		<table>
			<tr>
				<th align="right"><%= t(:l_mat) %></th>
				<td colspan="3" align="left"><%= @drill.material %></td>
			</tr><tr>
				<th align="right" class="align-top"><%= t(:l_desc) %></th>
				<td colspan="3" align="left"><%= @drill.description %></td>
			</tr><tr>
				<th colspan="3" align="left" class="align-top">
					<%= t(:l_expl) %>
				</th>
				<% if @drill.playbook.attached? %>
				<td align="right" class="inline-flex rounded-md hover:bg-yellow-300">
					<%= link_to rails_blob_path(@drill.playbook, disposition: "attachment") do %>
						<%= image_tag("playbook.png", size: "25x25") %>
					<% end %>
				</td>
				<% end %>
			</tr><tr>
				<td colspan="4" class="rounded-md border"><%= @drill.explanation %></td>
			</tr><tr>
				<th align="right" class="align-top"><%= t(:l_skill) %></th>
				<td colspan="3"><%= @drill.print_skills %></td>
			</tr><tr>
				<th align="right"><%= t(:l_auth) %></th>
				<td colspan="2" align="left"><%= @drill.coach.s_name %></td>
				<% if current_user.admin? or (@drill.coach_id==current_user.person.coach_id) %>
					<td align="right">
						<%= link_to edit_drill_path(@drill), data: {turbo_frame: "modal"} do %>
							<%= render "shared/edit" %>
						<% end %>
					</td>
				<% end %>
			</tr>
		</table>
	</div>
<% end %>
