<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr><tr>
      <td colspan="4" align="center" class="text-blue-900"><strong>Abrir Sesi&oacute;n</strong></td>
    </tr><tr>
      <td rowspan="3" align="center" class="align-center">
        <%= image_tag("user.svg", :size => "50x50") %>
      </td>
    </tr><tr>
      <td align="right"><%= image_tag "at.svg", size: "25x25", alt: "e-mail"  %></td>
      <td colspan="2"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded border shadow-inner" %></td>
    </tr><tr>
      <td align="right"><%= image_tag "key.svg", size: "25x25", alt: "Clave"  %></td>
      <td colspan="2"><%= f.password_field :password, autocomplete: "current-password", class: "rounded border shadow-inner" %></td>
    </tr><tr>
      <td colspan="2"></td>
      <td>
        <% if devise_mapping.rememberable? %>
          <strong>Recordar&nbsp;</strong><%= f.check_box :remember_me %>
        <% end %>
      </td>
      <td align="right"><%= f.submit "Entrar", class: "rounded text-white bg-blue-900 hover:bg-blue-700" %>
    </tr><tr>
      <td colspan="2"></td>
      <td><%= render "devise/shared/links" %></td>
    </tr>
  </table>
<% end %>
