<%= form_with model: training_session, remote: true, authenticity_token: true, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>
<% console %>
  <% if training_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training_session.errors.count, "error") %> Impidieron guardar la sesi&oacute;n:</h2>

      <ul>
        <% training_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<div id="training-session-details">
    <table>
  		<tr>
  			<td rowspan="4" colspan="2" align="center">
  				<%= image_tag("drill.png", :size => "100x100") %>
  			</td>
  		</tr><tr>
  			<th align="right">Equipo:</th>
  			<% if form.object.team_id > 0 %>
  				<%= form.hidden_field :team_id, value: form.object.team_id %>
  				<th colspan="2"><%= form.object.team.to_s %></th>
  			<% else %>
  				<th colspan="2"><%= form.collection_select :team_id, Team.real, :id, :to_s %></th>
  			<% end %>
  		</tr><tr>
  			<th align="right">Temp.:</th>
  			<% if form.object.team_id > 0 %>
  				<th colspan="2"><%= form.object.team.season.name %></th>
  			<% else %>
  				<th colspan="2"><%= form.collection_select :season_id, Season.all, :id, :name %></th>
  			<% end %>
  		</tr><tr>
  			<th align="right"><%= form.label "Lugar:" %></th>
  			<td><%= form.collection_select :location_id, Location.practice, :id, :name, {selected: form.object.location_id} %></td>
  		</tr><tr>
  			<th align="right">Fecha:</th>
  			<td><%= form.date_field :date, start: :date, end_year: Time.now.year, class: "text-sm" %></td>
  			<th align="right">Hora:</th>
  			<td colspan="2"><%= form.number_field :hour, in: 16..21, size: 3, class: "text-sm"  %><%= form.number_field :min, in: 0..45, step: 15, size: 3, class: "text-sm"  %></td>
  		</tr><tr>
  			<th align="right">Obj.:</th>
  			<td><%= form.text_field :targets, size: 11, class: "text-sm" %></td>
        <td></td>
  			<td><%= form.number_field :duration, in: 60..120, step: 30, size: 3, class: "text-sm" %>&nbsp;mins.</td>
  		</tr>
    </table>
  </div>
  <br>
  <div id="exercise-grid">
    <table>
      <thead>
        <th colspan="4" align="right" class="text-blue-900 align-center">Min.&nbsp;<button type="button" data-action="nested-form#add" class="rounded-lg mt-3"><%= image_tag "plus.png", size:"15x15" %></th>
      </thead>
      <tbody>
        <template data-nested-form-target="template">
          <%= form.fields_for :exercises, Exercise.new(training_session_id: form.object.id, order: 1, drill_id: 1, duration: 5), child_index: 'NEW_RECORD', wrapper: false  do |exercise_fields| %>
            <%= render 'exercise_form', form: exercise_fields  %>
          <% end %>
        </template>
          <%= form.fields_for :exercises, wrapper: false do |exercise_fields| %>
        		<%= render 'exercise_form', form: exercise_fields %>
        		<% ex_ord  += 1 %>
        	<% end %>
        <td colspan="4"><div data-nested-form-target="target">target</div></td>
      </tbody>
    </table>
  </div>
  <div class="actions">
		<%= image_submit_tag "save.png", height: 25, class: "save_button align-middle", alt: "Guardar" %>
	</div>
<% end %>
