<div id="sessions-index">
	<div id="sessions-header">
		<table>
			<th class="inline-flex items-center justify-center p-2 rounded-md text-yellow-600">
				<%= image_tag "drill.png", size: "50x50" %>&nbsp;Sesiones&nbsp;
				<div id="search-sessions" class="text-gray-700">
					<%= form_with(url: '/training_sessions', method: 'get', local: true) do %>
						<%= text_field_tag(:search) %>
						<%= image_submit_tag "search.png", width: 25, height: 25, class: "search_button align-middle", alt: "Buscar" %>
					<% end %>
				</div>
			</th>
		</table>
	</div>

	<div id="sessions-grid">
		<table class="table-auto border-separate">
			<thead>
				<tr>
					<th class="bg-indigo-900 text-gray-300 align-center">Fecha</th>
					<th class="bg-indigo-900 text-gray-300 align-center">Lugar</th>
					<th class="bg-indigo-900 text-gray-300 align-center">Equipo</th>
					<th colspan="2">
						<%= link_to new_training_session_path, data: {"turbo-frame": "modal" } do %>
							<%= image_tag "plus.png", size: "25x25", alt: "Crear" %>
						<% end %>
					</th>
				</tr>
			</thead>

			<tbody>
				<% @training_sessions.each do |training_session| %>
					<tr>
					<td class="border px-1 py-1 hover:bg-blue-100 hover:text-blue-700"><%= link_to training_session.date, training_session, data: {"turbo-frame": "modal" } %></td>
					<td class="border px-1 py-1 hover:bg-blue-100 hover:text-blue-700"><%= link_to training_session.location.name, training_session, data: {"turbo-frame": "modal" } %></td>
					<td class="border px-1 py-1 hover:bg-blue-100 hover:text-blue-700"><%= link_to training_session.team.name, training_session.team, data: {"turbo-frame": "modal" } %></td>
					<td>
						<%= link_to edit_training_session_path(training_session), data: {"turbo-frame": "modal" } do %>
							<%= image_tag "edit.png", size: "25x25" %>
						<% end %>
					</td>
					<td>
						<%= link_to training_session, method: :destroy, data: { confirm: '¿Borrar #{training_session.to_s}?' } do %>
							<%= image_tag "delete.png", size: "25x25" %>
						<% end %>
					</td>
	<!--				<td>< %= link_to 'Destroy', training_session, method: :delete, data: { confirm: '¿seguro?' } %></td>
		-->
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
