<div id="coaches-grid">
  <table class="table-auto">
    <thead>
      <tr>
        <th class="bg-indigo-900 text-gray-300 align-center border px"><%= t(:h_name) %></th>
        <th class="bg-indigo-900 text-gray-300 align-center border px"><%= t(:h_age) %></th>
        <th align="center" class="bg-indigo-900 text-gray-300 align-center border px"><%= t(:a_active) %></th>
        <% if current_user.admin? %>
          <th>
            <%= link_to new_coach_path, data: {turbo_frame: "modal"} do %>
              <%= render "shared/add" %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @coaches.each do |coach| %>
        <%= render "coach_row", coach: coach %>
      <% end %>
    </tbody>
  </table>
</div>
