<%= form_with model: @coach, remote: true do |form| %>
	<% if @coach.errors.any? %>
		<div class="p-4 border border-red-600" data-extended-modal-target="errors">
			<h2>
				No se pudo guardar el entrenador
			</h2>
			<ul>
				<% @coach.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<table>
		<%= form.fields_for :person do |f| %>
			<tr>
				<td colspan="4">Foto&nbsp;<%= form.file_field :avatar, direct_upload: true %></td>
			</tr><tr>
				<td rowspan="3" align="center">
					<%= image_tag("coach.png", :size => "100x100") %>
				</td>
				<td align="right"><strong>Nom.</strong></td>
				<td><%= f.text_field :name, size: 12, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td align="right"><strong>Apel.</strong></td>
				<td><%= f.text_field :surname, size: 16, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td align="right"><strong>F.Nac.</strong></td>
				<td><%= f.date_field :birthday, start_year: 1950, end_year: Time.now.year, class: "rounded border shadow-inner" %>
			</tr><tr>
				<td align="right">
					<strong>Activo&nbsp;</strong>
					<%= form.check_box :active %>
				</td>
				<td align="right"><strong>Apodo</strong></td>
				<td><%= f.text_field :nick, size: 8 %></td>
			</tr>
		<% end %>
	</table>
	<%= render "shared/save" %>
<% end %>
