<div id="coaches-index">
	<div id="coaches-header">
		<table>
			<th class="inline-flex items-center justify-center p-2 rounded-md text-yellow-600">
				<%= image_tag "coach.png", size: "50x50" %>Entrenadores&nbsp;
				<div id="search-people" class="inline-flex rounded border">
					<%= form_with(url: '/coaches', method: 'get', local: true) do %>
						<%= text_field_tag :search, "", size: 16, class: "text-gray-700 rounded border shadow-inner" %>
						<%= image_submit_tag "search.png", height: 25, class: "search_button align-middle", alt: "Buscar" %>
					<% end %>
				</div>
			</th>
		</table>
	</div>

	<div id="coaches-grid">
		<table class="table-auto">
			<thead>
				<tr>
					<th class="bg-indigo-900 text-gray-300 align-center border px">Nombre</th>
					<th class="bg-indigo-900 text-gray-300 align-center border px">Edad</th>
					<th align="center" class="bg-indigo-900 text-gray-300 align-center border px">Act.</th>
					<th>
						<%= link_to new_coach_path, data: {"turbo-frame": "modal" } do %>
							<%= render "shared/plus" %>
						<% end %>
					</th>
				</tr>
			</thead>

			<tbody>
				<% @coaches.each do |coach| %>
					<tr>
						<td class="border px py hover:text-white hover:bg-blue-700"><%= link_to coach.to_s, coach, data: {"turbo-frame": "modal" } %></td>
						<td align="center" class="border px py"><%= coach.person.age %></td>
						<td align="center" class="border px py"><%= coach.active ? image_tag("Yes.png", :size => "30x25") : image_tag("No.png", :size => "30x25") %></td>
						<td>
							<%= link_to coach, method: :destroy, data: { confirm: "¿Borrar '#{coach.to_s}'?" } do %>
								<%= render "shared/delete" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
