<h1>Nuevo Entrenador</h1>

<%= form_with model: @coach, remote: true do |form| %>
	<table><%= form.fields_for :person do |f| %>
		<tr>
			<td rowspan="3" colspan="2" align="center">
				<%= image_tag("coach.png", :size => "100x100") %>
			</td>
			<td><%= f.label :name %></td>
			<td><%= f.text_field :name %></td>
		</tr><tr>
			<td><%= f.label :surname %></td>
			<td><%= f.text_field :surname %></td>
		</tr><tr>
	</table><% end %>
	<div class="actions">
		<%= form.submit "Crear"%>
	</div>
	<% end %>

<%= link_to 'Volver', coaches_path %>
