<%= render "shared/modal" do %>
	<h1>Nuevo Entrenador</h1>
	<%= form_with model: @coach, remote: true do |form| %>
		<%= form.fields_for :person do |f| %>
			<table>
				<tr>
					<td rowspan="3" align="center">
						<%= image_tag("coach.svg", :size => "100x100", class: "rounded-full") %>
					</td>
					<td align="right"><strong>Nom:</strong></td>
					<td><%= f.text_field :name, size: 12, class: "rounded border shadow-inner" %></td>
				</tr><tr>
					<td align="right"><strong>Apel:</strong></td>
					<td><%= f.text_field :surname, size: 16, class: "rounded border shadow-inner" %></td>
				</tr><tr>
			</table>
		<% end %>
		<%= render "shared/save" %>
	<% end %>
<% end %>
