<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @coach.active %>
</p>

<p>
  <strong>Person:</strong>
  <%= @coach.person_id %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
