<%= form_for @player, remote: true, authenticity_token: true do |form| %>
	<table><%= form.fields_for :person do |f| %>
		<tr>
			<td colspan="4"><strong>Foto&nbsp;</strong><%= form.file_field :avatar, direct_upload: true %></td>
		</tr><tr>
			<td rowspan="3" colspan="2" align="center">
				<%= image_tag(@player.picture, :size => "100x100") %>
			</td>
			<td align="right"><strong>Nombre</strong></td>
			<td colspan="2"><%= f.text_field :name %></td>
		</tr><tr>
			<td align="right"><strong>Apellidos</strong></td>
			<td colspan="2"><%= f.text_field :surname %></td>
		</tr><tr>
			<td align="right"><strong>F. Nacim.</strong></td>
			<td><%= f.date_field :birthday, start_year: 1950, end_year: Time.now.year %></td>
		</tr><tr>
			<td align="right"><strong>DNI/NIE</strong></td>
			<td><%= f.text_field :dni, size: 10 %></td>
			<td align="right"><strong>Apodo</strong></td>
			<td><%= f.text_field :nick, size:10 %></td>
		</tr><tr>
			<td align="right"><strong>Femenino</strong></td>
			<td><%= f.check_box :female %></td>
			<td align="right">
				<strong>#&nbsp;</strong>
				<%= form.number_field :number, min: 0, max: 99, size: 3 %>
			</td>
			<td><strong>Activo&nbsp;<strong><%= form.check_box :active %></td>
		</tr>
	</table><% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
