<%= form_for @player, remote: true, authenticity_token: true do |form| %>
	<% if @player.errors.any? %>
		<div class="p-4 border border-red-600" data-extended-modal-target="errors">
			<h2>
				No se pudo guardar el jugador
			</h2>
			<ul>
				<% @player.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<table>
		<%= form.fields_for :person do |f| %>
			<tr>
				<td colspan="4"><strong>Foto&nbsp;</strong><%= form.file_field :avatar, direct_upload: true %></td>
			</tr><tr>
				<td rowspan="3" colspan="2" align="center">
					<%= image_tag(@player.picture, :size => "100x100") %>
				</td>
				<td align="right"><strong>Nom:</strong></td>
				<td colspan="2"><%= f.text_field :name, size: 12 %></td>
			</tr><tr>
				<td align="right"><strong>Apel:</strong></td>
				<td colspan="2"><%= f.text_field :surname, size: 16 %></td>
			</tr><tr>
				<td align="right"><strong>F.Nac.</strong></td>
				<td><%= f.date_field :birthday, start_year: 1950, end_year: Time.now.year %></td>
			</tr><tr>
				<td align="center"><strong>DNI:</strong></td>
				<td><%= f.text_field :dni, size: 8 %></td>
				<td align="right"><strong>Apodo:</strong></td>
				<td><%= f.text_field :nick, size: 8 %></td>
			</tr><tr>
				<td align="right"><strong>Fem.</strong><%= f.check_box :female %></td>
				<td><strong>&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;</strong><%= form.number_field :number, min: 0, max: 99, size: 2 %></td>
				<td align="right"><strong>Activo:<strong></td>
				<td><%= form.check_box :active %></td>
			</tr>
		<% end %>
	</table>
	<div class="actions rounded-lg mt-3">
		<%= image_submit_tag "save.png", height: 25, class: "save_button align-middle", alt: "Guardar" %>
  </div>
<% end %>
