<%= form_for @player, authenticity_token: true, data: { turbo_frame: "_top" } do |form| %>
	<table>
		<%= form.fields_for :person do |f| %>
			<tr>
				<td rowspan="4" colspan="2" align="center">
					<%= image_tag(@player.picture, size: "100x100", class: "rounded-full") %>
				</td>
				<th align="left" colspan="2" class="align-top text-yellow-600"><%= t(:l_player_edit) %></th>
			</tr><tr>
				<td align="left"><strong><%= t(:l_name) %></strong></td>
				<td colspan="2"><%= f.text_field :name, size: 12, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td align="left"><strong><%= t(:l_surname) %></strong></td>
				<td colspan="2"><%= f.text_field :surname, size: 16, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td align="center"><strong><%= image_tag "calendar.svg", size: "25x25", alt: t(:l_bday)  %></strong></td>
				<td><%= f.date_field :birthday, start_year: 1950, end_year: Time.now.year, class: "rounded border shadow-inner" %>
			</tr><tr>
				<td colspan="4"><strong><%= t(:l_pic) %></strong><%= form.file_field :avatar, direct_upload: true %></td>
			</tr><tr>
				<td colspan="2"><strong><%= t(:l_id) %></strong><%= f.text_field :dni, size: 8, class: "rounded border shadow-inner" %></td>
				<td align="center"><strong><%= image_tag "user.svg", size: "25x25", alt: t(:l_nick)  %></strong></td>
				<td><%= f.text_field :nick, size: 8, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td><strong><%= t(:l_fem) %></strong><%= f.check_box :female %></td>
				<td><strong><%= t(:l_num) %></strong><%= form.number_field :number, min: 0, max: 99, size: 2, class: "rounded border shadow-inner" %></td>
				<td align="center"><%= image_tag "at.svg", size: "25x25", alt: t(:l_email)  %></td>
				<td><%= f.text_field :email, size: 22, class: "rounded border shadow-inner" %></td>
			</tr><tr>
				<td colspan="2" align="left"><strong><%= t(:h_active) %></strong><%= form.check_box :active %></td>
				<td align="center"><strong><%= image_tag "phone.svg", size: "25x25", alt: t(:l_tel)  %></strong></td>
				<td><%= f.text_field :phone, size: 12, class: "rounded border shadow-inner" %></td>
			</tr><tr>
			</tr>
		<% end %>
	</table>
	<%= render "shared/save_cancel", save: true %>
<% end %>
