<tr>
  <td align="center" class="border px py"><%= player.number %></td>
  <td class="border px py hover:text-white hover:bg-blue-700"><%= link_to player.to_s, player, data: {turbo_frame: "modal"} %></td>
  <td align="center" class="border px py"><%= player.person.age %></td>
  <td align="center" class="border px py"><%= player.active ? image_tag("Yes.svg", :size => "30x25") : image_tag("No.svg", :size => "30x25") %></td>
  <% if current_user.admin? %>
    <td>
      <%= link_to player, method: :delete, data: {confirm: t(:q_del) + "'#{player.to_s}'?"} do %>
        <%= render "shared/delete" %>
      <% end %>
    </td>
  <% end %>
</tr>
