<p id="notice"><%= notice %></p>

<h1>Jugadores</h1>
<div id="search-players">
	<%= form_with(url: '/players', method: 'get', local: true) do %>
		<%= text_field_tag(:search) %>
		<%= submit_tag("Buscar") %>
	<% end %>
</div>

<div id="players-grid">
	<table>
		<thead>
			<tr>
				<th>N&uacute;mero</th>
				<th>Nombre</th>
				<th>Sexo</th>
				<th align="center">Edad</th>
				<th align="center">Activ.</th>
				<th colspan="2"></th>
			</tr>
		</thead>

		<tbody>
			<% @players.each do |player| %>
				<tr>
					<td><%= player.number %></td>
					<td><%= link_to player.fullname, player %></td>
					<td><%= player.female ? "Fem." : "Masc." %></td>
					<td align="center"><%= player.person.age %></td>
					<td align="center"><%=player.active ? image_tag("Yes.png", :size => "30x25") : image_tag("No.png", :size => "30x25") %></td>
					<td><%= link_to 'Editar', edit_player_path(player) %></td>
					<td><%= link_to 'Borrar', player, method: :destroy, data: { confirm: '¿Borrar #{player.to_s}?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<br>

<div id="import-export">
	<table>
		<tr>
			<th colspan="2"><%= link_to 'Crear jugador/a', new_player_path %>
		</tr><tr>
			<th colspan="2"><%= link_to 'Exportar (Excel)', players_path(format: :xlsx) %></th>
		</tr><tr>
			<th>Importar</th>
			<td>
				<%= form_with url: import_players_path, local: true do |form| %>
					<%= form.file_field :file %>
					<%= form.submit %>
				<% end %>
			</td>
		</tr>
	</table>
</div>
