<div id="player-index">
	<div id="player-header">
		<table>
			<tr>
				<th class="inline-flex items-center justify-center p-2 rounded-md text-yellow-600">
					<%= image_tag "player.png", size: "50x50" %>&nbsp;Jugadores&nbsp;
					<div id="search-people" class="inline-flex text-gray-700 rounded border shadow-inner">
						<%= form_with(url: '/players', method: 'get', local: true) do %>
							<%= text_field_tag(:search) %>
							<%= image_submit_tag "search.png", width: 25, height: 25, class: "search_button align-middle", alt: "Buscar" %>
						<% end %>
					</div>
				</th>
			</tr>
		</table>
	</div>

	<div id="players-grid">
		<table class="table-auto">
			<thead>
				<tr>
					<th class="bg-indigo-900 text-gray-300 align-center border px py">N&uacute;m.</th>
					<th class="bg-indigo-900 text-gray-300 align-center border px py">Nombre</th>
					<th align="center" class="bg-indigo-900 text-gray-300 align-center border px py">Edad</th>
					<th align="center" class="bg-indigo-900 text-gray-300 align-center border px py">Activ.</th>
					<th align="center">
						<%= link_to new_player_path, data: {"turbo-frame": "modal" } do %>
							<%= image_tag "plus.png", size: "25x25", alt: "Crear" %>
						<% end %>
					</th>
				</tr>
			</thead>

			<tbody>
				<% @players.each do |player| %>
					<tr>
						<td align="center" class="border px py"><%= player.number %></td>
						<td class="border px-1 py-1"><%= link_to player.to_s, player, data: {"turbo-frame": "modal" }, class: "hover:text-blue-700" %></td>
						<td align="center" class="border px py"><%= player.person.age %></td>
						<td align="center" class="border px py"><%= player.active ? image_tag("Yes.png", :size => "30x25") : image_tag("No.png", :size => "30x25") %></td>
						<td>
							<%= link_to player, method: :destroy, data: { confirm: '¿Borrar #{player.to_s}?' } do %>
								<%= image_tag "delete.png", size: "25x25" %>
							<% end %>
						</td>
	<!--					<td>< %= link_to 'Borrar', player, method: :destroy, data: { confirm: '¿Borrar #{player.to_s}?' } %></td>
		-->
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br>

	<div id="import-export">
		<table>
			<tr>
				<td>
					<div class="rounded-lg border-4 border-green-800 hover:bg-green-200 mb-3">
						<%= link_to players_path(format: :xlsx) do %>
							<%= image_tag "export.png", width: 125 %>
						<% end %>
					</div>
				</td>
			</tr><tr>
				<td><%= image_tag "import.png", width: 125 %></td>
				<td>
					<%= form_with url: import_players_path, local: true do |form| %>
						<%= form.file_field :file %>
						<%= render "shared/save" %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
</div>
