<%= render "shared/modal" do %>
	<%= form_for @player do |form| %>
		<%= form.fields_for :person do |f| %>
			<table>
				<tr>
					<td rowspan="3" align="center">
						<%= image_tag("player.svg", size: "50x50", class: "rounded-full") %>
					</td>
					<th align="left" colspan="2" class="align-top text-yellow-600">Crear Jugador/a</th>
				</tr><tr>
					<td align="left"><strong>Nom:</strong></td>
					<td><%= f.text_field :name, size: 12, class: "rounded border shadow-inner" %></td>
				</tr><tr>
					<td align="left"><strong>Apel:</strong></td>
					<td><%= f.text_field :surname, size: 16, class: "rounded border shadow-inner" %></td>
				</tr>
			</table>
		<% end %>
		<%= render "shared/save" %>
	<% end %>
<% end %>
