<%= render "shared/modal" do %>
	<%= form_for @player, remote: true do |form| %>
		<%= form.fields_for :person do |f| %>
			<table>
				<tr>
					<td rowspan="3" align="center">
						<%= image_tag("player.png", :size => "100x100") %>
					</td>
					<td align="right">Nom.</td>
					<td><%= f.text_field :name, size: 10 %></td>
				</tr><tr>
					<td align="right">Apel.</td>
					<td><%= f.text_field :surname, size: 10 %></td>
				</tr><tr>
			</table>
		<% end %>
		<%= render "shared/save" %>
	<% end %>
<% end %>
