<%= render "shared/modal" do %>
	<%= form_for @player, remote: true do |form| %>
		<%= form.fields_for :person do |f| %>
			<table>
				<tr>
					<td rowspan="3" align="center">
						<%= image_tag("player.png", :size => "100x100") %>
					</td>
					<th align="right">Nom.</th>
					<td><%= f.text_field :name, size: 12, class: "rounded border shadow-inner" %></td>
				</tr><tr>
					<th align="right">Apel.</th>
					<td><%= f.text_field :surname, size: 16, class: "rounded border shadow-inner" %></td>
				</tr><tr>
			</table>
		<% end %>
		<%= render "shared/save" %>
	<% end %>
<% end %>
