<%= render "shared/modal" do %>
	<table>
		<tr>
			<td rowspan="3" align="center">
				<%= image_tag(@player.picture, :size => "100x100") %>
			</td>
			<td><%= @player.person.name %></td>
		</tr><tr>
			<td><%= @player.person.surname %></td>
		</tr><tr>
			<td><%= @player.person.birthday %></td>
		</tr><tr>
			<td align="center"><%= @player.person.dni %></td>
			<td># <%= @player.number %> &nbsp;-&nbsp;<%= @player.active ? "Activo" : "Inactivo" %></td>
		</tr>
	</table>
<% end %>
