<%= form_with model: category, authenticity_token: true, data: { label: label, turbo_frame: "_top" } do |form| %>
  <%= render "category_header", label: label %>
  <table>
    <tr>
      <th>><%= t(:l_name) %></th>
      <td colspan="3" align="left">
        <%= form.text_field :name, size: 20, rows: 2, class: "rounded border shadow-inner" %>
      </td>
    </tr><tr>
      <th>><%= t(:l_sex) %></th>
      <td colspan="3" align="left">
        <%= form.select :sex, ["Fem.","Masc.","Mixto"], class: "rounded border shadow-inner" %>
      </td>
    </tr><tr>
      <th>><%= t(:l_min) %></th>
      <td align="left">
        <%= form.number_field :min_years, size: 2, class: "rounded border shadow-inner" %>
      </td>
      <th>><%= t(:l_max) %></th>
      <td align="left">
        <%= form.number_field :max_years, size: 2, class: "rounded border shadow-inner" %>
      </td>
    </tr>
  </table>
  <%= render "shared/save_cancel", save: true %>
<% end %>
