<div id="locations-grid">
  <table class="table-auto">
    <thead>
      <tr class="bg-indigo-900 text-gray-300">
        <th class="border px py">Nombre</th>
        <th class="border px py">Tipo</th>
        <th class="border px py">Ubic.</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |loc| %>
        <tr class="hover:text-white hover:bg-blue-700">
          <td class="border px py">
            <%= link_to loc.name, edit_location_path(loc), data: { turbo_frame: 'modal' } %>
          </td>
          <td align="center" class="border px py">
            <%= image_tag(loc.practice_court ? "training.svg" : "team.svg", size: "20x20") %>
          </td><td align="center" class="border px py">
            <% if loc.gmaps_url %>
              <%= link_to loc.gmaps_url, target: '_blank' do %>
                <%= image_tag("gmaps.svg", size: "25x25", class: "rounded-md hover:bg-blue-100") %>
              <% end %>
            <% end %>
          </td>
          <% if current_user.admin? %>
            <td class="hover:bg-white">
              <%= link_to loc, method: :delete, data: { confirm: "¿Borrar '#{loc.name}'?" } do %>
                <%= render "shared/delete" %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td colspan="2"></td>
        <% if @season %>
          <td align="center">
            <%= link_to season_locations_path(@season) + "/new", data: { turbo_frame: 'modal' } do %>
              <%= render "shared/add" %>
            <% end %>
        <% else %>
          <td align="right" colspan="2">
            <%= link_to new_location_path, data: { turbo_frame: 'modal' } do %>
              <%= render "shared/add" %>
            <% end %>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
