<div id="locations-grid">
  <table class="table-auto">
    <thead>
      <tr class="bg-indigo-900 text-gray-300">
        <th class="border px py">Nombre</th>
        <th class="border px py">Tipo</th>
        <th class="border px py">Ubic.</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |loc| %>
        <%= render "location_row", loc: loc %>
      <% end %>
      <tr>
        <td colspan="2"></td>
        <% if @season %>
          <td align="center">
            <%= link_to season_locations_path(@season) + "/new", data: {turbo_frame: "modal"} do %>
              <%= render "shared/add" %>
            <% end %>
        <% else %>
          <td align="right" colspan="2">
            <%= link_to new_location_path, data: {turbo_frame: "modal"} do %>
              <%= render "shared/add" %>
            <% end %>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
