<tr class="hover:text-white hover:bg-blue-700">
  <td class="border px py">
    <%= link_to loc.name, edit_location_path(loc), data: { turbo_frame: 'modal' } %>
  </td>
  <td align="center" class="border px py">
    <%= image_tag(loc.practice_court ? "training.svg" : "team.svg", size: "20x20") %>
  </td><td align="center" class="border px py">
    <% if loc.gmaps_url %>
      <%= link_to loc.gmaps_url, target: '_blank' do %>
        <%= image_tag("gmaps.svg", size: "25x25", class: "rounded-md hover:bg-blue-100") %>
      <% end %>
    <% end %>
  </td>
  <% if current_user.admin? %>
    <td class="hover:bg-white">
      <%= link_to loc, method: :delete, data: { confirm: "¿Borrar '#{loc.name}'?" } do %>
        <%= render "shared/delete" %>
      <% end %>
    </td>
  <% end %>
</tr>
