<!DOCTYPE html>
<html>
  <head>
    <title><%=Person.find(0).nick%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <!--
    <script src="/javascript/controllers/flowbite.js"></script>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    -->
  </head>

  <body class="text-base xl:text-lg sm:text-sm, xs:text-sm">
    <div class="flex flex-col w-full min-h-screen justify-between">
      <% @topbar = TopbarComponent.new(user: user_signed_in? ? current_user : nil, login: new_user_session_path, logout: destroy_user_session_path) %>
      <!-- App NavBar goes here -->
      <%= render @topbar %>
      <!-- App content goes here -->
    	<main class="mb-auto h-15 w-full h-auto p-15">
    	  <div class="content flex items-center justify-center">
            <%= render FlashComponent.new(notice: notice) if notice %>
            <%= turbo_frame_tag "modal" %>
            <%= yield %>
    	  </div>
    	</main>
    </div>
  </body>
</html>
