<!DOCTYPE html>
<html>
	<head>
		<title><%= @clubname %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag "trix", "actiontext", "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<%= favicon_link_tag asset_path(@favicon), type: "image/svg" %>
	</head>

	<body class="h-screen flex flex-col text-fluid">
		<header class="flex-none sticky top-0 z-10 w-full h-15 bg-blue-900 text-gray-300">
			<%= render @topbar %>
			<%= render FlashComponent.new(notice) if notice %>
		</header>

		<!-- App content goes here -->
			<main class="flex-1 min-h-0 overflow-auto">
				<%= turbo_frame_tag "modal" %>
			  <div class="flex w-full h-full justify-center items-start p-2">
					<%= yield %>
				</div>
		</main>
		</div>
	</body>
</html>
