<!DOCTYPE html>
<html>
	<head>
		<title><%= @clubname %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag "trix", "actiontext", "application", "tailwind", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<%= favicon_link_tag asset_path(@favicon), type: "image/svg" %>
	</head>

	<body class="text-base xl:text-lg sm:text-sm, xs:text-sm">
		<!-- App NavBar goes here -->
		<%= render @topbar %>
		<div class="mt-2 p-4">
			<%= render FlashComponent.new(notice) if notice %>
			<!-- App content goes here -->
			<main class="mb-auto h-auto overflow-y-auto">
				<%= turbo_frame_tag "modal" %>
				<div class="flex w-full flex items-center justify-center">
					<%= yield %>
				</div>
			</main>
		</div>
	</body>
</html>
