<!DOCTYPE html>
<html>
	<head>
		<title><%= @clubname %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag "trix", "actiontext", "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<%= favicon_link_tag asset_path(@favicon), type: "image/svg" %>
	</head>

	<body class="h-screen flex flex-col text-fluid">
		<header class="flex-none sticky top-0 z-10 w-full h-15 bg-blue-900 text-gray-300">
			<%= render @topbar %>
			<%= render FlashComponent.new(notice) if notice %>
		</header>
		<div class="flex sticky top-16 justify-center bg-white text-black border-b border-gray-300">
			<%= render @title if @title %>
		</div>

		<!-- App content goes here -->
		<main class="flex-1 min-h-0 overflow-auto mt-2">
			<%= turbo_frame_tag "modal" %>
			<div class="flex w-full h-full justify-center items-start">
				<%= yield %>
			</div>
		</main>

		<!-- Conditional footer content -->
		<footer class="flex-none sticky bottom-0 bg-white border-t border-gray-300">
		  <div class="max-w-7xl mx-auto">
		  	<%= render @footer if @footer %>
			<div class="text-center text-xs text-gray-500 mb-2">
				<a href="<%= home_about_path %>" data-turbo-frame= "modal">MudClub © iangullo (<%= Time.current.year %>)</a>
			</div>
		  </div>
		</footer>
	</body>
</html>
